
<!--<header>
    &lt;!&ndash; Modal &ndash;&gt;
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            &lt;!&ndash; Modal content&ndash;&gt;
            <div class="modal-content col-md-12 zero-padding">

                <div class="modal-body zero-padding col-md-12 zero-padding">
                    <ul class="nav nav-pills nav-stacked col-md-3 zero-padding">
                        <li class="active"><a ng-class="isItThirdPageB()" data-toggle="pill" href="#home"><span><i class="fa fa-calendar" aria-hidden="true"></i></span>&nbsp;&nbsp;Appointment</a></li>
                        <li><a ng-class="isItThirdPageB()" data-toggle="pill" href="#menu1"><span><i class="fa fa-id-card-o" aria-hidden="true"></i></span>&nbsp;&nbsp;Class</a></li>
                        <li><a ng-class="isItThirdPageB()" data-toggle="pill" href="#menu2"><span><i class="fa fa-id-card-o" aria-hidden="true"></i></span>&nbsp;&nbsp;Invitation</a></li>
                        <li><a ng-class="isItThirdPageB()" data-toggle="pill" href="#menu3"><span><i class="fa fa-coffee" aria-hidden="true"></i></span>&nbsp;&nbsp;Break</a></li>
                    </ul>
                    <div id="home" class="tab-pane fade in active col-md-9" style="padding-bottom:20px;">
                        <ol class="wizard-progress wizard-3-steps clearfix center-block" style="    height: 5px;">
                            <li class="step-done">
                                <span class="step-num">1</span>
                                <span class="step-name"></span>
                            </li>
                            <li ng-class="isItSecondPage()">
                                <span class="step-num">2</span>
                                <span class="step-name"></span>
                            </li>
                            <li ng-class="isItThirdPage()">
                                <span class="step-num">3</span>
                                <span class="step-name"></span>
                            </li>
                        </ol>

                        <form class="form-horizontal" ng-show="appointmentPage2">
                            <div class="form-group cstm-padding">
                                <label for="Service" class="control-label col-sm-2">Date:</label>
                                <div class="col-md-offset-1 col-md-9">
                                    &lt;!&ndash;<datepicker date-enabled-dates="{{enableDates}}" date-format="dd-MM-yyyy">
                                        <input class="form-control" ng-change="dateChoised()" ng-model="date" type="text" />
                                    </datepicker>&ndash;&gt;
                                </div>
                            </div>
                            <div class="form-group cstm-padding">
                                <label for="Service" class="col-md-2">Period:</label>
                                <div class="col-md-offset-1 col-md-9">
                                    <select class="form-control" ng-model="selectedAppointmentperiod" ng-change="appointmentPeriodChanged()" ng-options="item.label  disable when item.id == '0' for item in periods"></select>
                                </div>
                            </div>
                            <div class="form-group cstm-padding">
                                <label for="Service" class="col-md-2">Time:</label>
                            </div>
                            <label ng-if="errorOnPage2" style="margin-top: 20px;margin-left: 111px;" class="alert-danger">Please Choice all Option</label>
                            <div class="form-group cstm-padding">
                                <button ng-click="prePage()" style="margin-left: 12px;" type="button" class="btn btn-default">Previous</button>
                                <button ng-click="nextPage()" style="margin-right: 16px;" type="button" class="btn btn-default pull-right">Next</button>
                            </div>
                        </form>

                    </div>
                    <div id="menu1" class="tab-pane fade">

                    </div>
                    <div id="menu2" class="tab-pane fade">

                    </div>
                    <div id="menu3" class="tab-pane fade">

                    </div>

                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>

    </div>
</header>-->
<!--<section class="col-md-12 admin_margin">
            <div class="tab-content" style="padding:10px;background-color:#fff;border:0px;">
                <div class="tab-pane fade in active panel-default">
                    <h4>Microsite settings</h4>
                    <form action="#"  style="border:1px solid #fff;">
                        <div class="tag-box tag-box-v1 margin-bottom-40">
                            <p>
                                Your microsite
                                <i class="fa fa-external-link pull-right" data-toggle="modal" data-target="#responsive">edit</i><a [routerLink]="['/']" class="pull-right">teksify1.Appointmentor.com</a>&nbsp;&nbsp;&nbsp;
                            </p>    
                        </div>
                        <div class="tag-box tag-box-v1 margin-bottom-40">
                            <p>Allow customers to leave a review on your microsite<label class="toggle pull-right"><input name="checkbox-toggle" type="checkbox" checked="" formControlName=""><i class="no-rounded"></i></label></p>
                        </div>
                        <div class="tag-box tag-box-v1 margin-bottom-40">
                            <p>Show services which are on offer at the top of your microsite<label class="toggle pull-right"><input name="checkbox-toggle" type="checkbox"><i class="no-rounded"></i></label></p>
                        </div>
                    </form>
                    <h2>Microsite design</h2>
                    <p>
                        Microsite theme
                    </p>
                    <div class="clearfix margin-bottom-30"></div>
                    <div>
                        <div class="tag-box tag-box-v1 margin-bottom-40   microsite">
                            <div>
                                <h4>
                                    Exite
                                </h4>
                                <p>
                                    <a [routerLink]="['/']">Preview</a>
                                </p>

                            </div>
                        </div>
                        <div class="tag-box tag-box-v1 margin-bottom-40   microsite">
                            <div>
                                <h4>
                                    Exite
                                </h4>
                                <p>
                                    <a [routerLink]="['/']">Preview</a>
                                </p>

                            </div>
                        </div>
                        <div class="tag-box tag-box-v1 margin-bottom-40   microsite">
                            <div>
                                <h4>
                                    Exite
                                </h4>
                                <p>
                                    <a [routerLink]="['/']">Preview</a>
                                </p>

                            </div>
                        </div>
                        <div class="tag-box tag-box-v1 margin-bottom-40  microsite">
                            <div>
                                <h4>
                                    Exite
                                </h4>
                                <p>
                                    <a [routerLink]="['/']">Preview</a>
                                </p>

                            </div>
                        </div>
                    </div>
                    <p>
                        Microsite colors
                    </p>
                    <div class="tag-box tag-box-v1 margin-bottom-40">
                        <form action="#"  style="border:1px solid #fff;">
                            <input type="color" class="form-control" />
                            <div class="clearfix margin-bottom-30"></div>
                            <button type="button" class="btn-u">
                                    Save
                            </button>
                        </form>
                    </div>
                    <form action="#"  style="border:1px solid #fff;"> 
                        <div class="tag-box tag-box-v1 margin-bottom-40">
                            <p>
                                Show business name
                                <label class="toggle pull-right"><input name="checkbox-toggle" type="checkbox" checked="" formControlName=""><i class="no-rounded"></i></label>
                            </p>
                        </div>
                        <div class="tag-box tag-box-v1 margin-bottom-40">
                            <p>
                                Microsite sidebar
                                <label class="select pull-right">
                                    <select class="form-control" style="padding: 6px 24px;">
                                        <option value="0">Show on the left</option>
                                        <option value="1">Show on the right</option>
                                        <option value="2">Do not show</option>
                                    </select>
                                    <i></i>
                                </label>
                            </p>
                        </div>
                        <div class="tag-box tag-box-v1 margin-bottom-40">
                            <p>
                                Show image slider
                                <label class="toggle pull-right"><input name="checkbox-toggle" type="checkbox" checked="" formControlName=""><i class="no-rounded"></i></label>
                            </p>
                        </div>
                        <div class="tag-box tag-box-v1 margin-bottom-40">
                            <p>
                                Show contact details
                                <label class="toggle pull-right"><input name="checkbox-toggle" type="checkbox" ><i class="no-rounded"></i></label>
                            </p>
                        </div>
                        <div class="tag-box tag-box-v1 margin-bottom-40">
                            <p>
                                Show map
                                <label class="toggle pull-right"><input name="checkbox-toggle" type="checkbox"><i class="no-rounded"></i></label>
                            </p>
                        </div>
                        <div class="tag-box tag-box-v1 margin-bottom-40">
                            <p>
                                Show opening times
                                <label class="toggle pull-right"><input name="checkbox-toggle" type="checkbox"><i class="no-rounded"></i></label>
                            </p>
                        </div>

                    </form>
                </div>

            </div>
        &lt;!&ndash;</div>
    </div>&ndash;&gt;

    &lt;!&ndash;edit pop-up microsite&ndash;&gt;
    <div class="modal fade in" id="responsive" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content" style="padding:10px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel4">Edit your microsite URL</h4>
                </div>
                <div class="modal-body">
                        <p>
                            Tailor your microsite URL to change where customers go to book with you.
                        </p>
                        <p>
                            Currently, customers can book with you at:
                        </p>
                        <button type="button" class="btn btn-u-default">
                            teksify1.Appointmentor.com
                        </button>
                        <p>
                            Your new microsite URL
                        </p>
                        <form action="#"  style="border:1px solid #fff;">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="company-name" aria-describedby="basic-addon2">
                                <span class="input-group-addon" id="basic-addon2">Appointmentor.com</span>
                            </div>
                            <div class="clearfix margin-bottom-30"></div>
                            <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                                <p><b>Your microsite URL can only be changed once.</b></p>
                                <p>This cannot be undone.</p>
                                <div class="clearfix margin-bottom-20"></div>
                                <button type="button" class="btn btn-default">Cancel</button>
                                <button type="button" class="btn-u pull-right">Save Changes</button>
                            </div>
                        </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-u btn-u-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn-u btn-u-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</section>-->
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">assignment</i>
                        </div>
                        <h4 class="card-title">Microsite settings</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="tab-pane fade in active panel-default">
                                <form novalidate (ngSubmit)="onSubmit(userForm)" [formGroup]="userForm"  style="border:1px solid transparent;">
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <span class="badge badge-success"></span>
                                        </div>
                                        <div class="timeline-body">
                                            <div class="row mt-2">
                                                <div class="col-md-11 pt-2">
                                                    <p>
                                                        Your microsite
                                                        <i class="fa fa-external-link pull-right" data-toggle="modal" data-target="#responsive">edit</i><a [routerLink]="['/']" class="pull-right">teksify1.Appointmentor.com</a>&nbsp;&nbsp;&nbsp;
                                                    </p>
                                                </div>
                                                <div class="col-md-1 pull-right">
                                                    <div class="togglebutton">
                                                        <label>
                                                            <input type="checkbox" checked="" formControlName="" value="" >
                                                            <span class="toggle"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col-md-11">
                                                    <p>Allow customers to leave a review on your microsite</p>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="togglebutton">
                                                        <label>
                                                            <input type="checkbox" checked="" formControlName="">
                                                            <span class="toggle"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-11">
                                                    <p>Show services which are on offer at the top of your microsite</p>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="togglebutton">
                                                        <label>
                                                            <input type="checkbox"  value="" formControlName="" >
                                                            <span class="toggle"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <span class="badge badge-success">Microsite design</span>
                                        </div>
                                        <div class="timeline-body">
                                            <div class="row mt-2">
                                                <div class="col-md-11 pt-2">
                                                    <div>
                                                        <h4>
                                                            Exite
                                                        </h4>
                                                        <p>
                                                            <a [routerLink]="['/']">Preview</a>
                                                        </p>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col-md-11 pt-2">
                                                    <div>
                                                        <h4>
                                                            Exite
                                                        </h4>
                                                        <p>
                                                            <a [routerLink]="['/']">Preview</a>
                                                        </p>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col-md-11 pt-2">
                                                    <div>
                                                        <h4>
                                                            Exite
                                                        </h4>
                                                        <p>
                                                            <a [routerLink]="['/']">Preview</a>
                                                        </p>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col-md-11 pt-2">
                                                    <div>
                                                        <h4>
                                                            Exite
                                                        </h4>
                                                        <p>
                                                            <a [routerLink]="['/']">Preview</a>
                                                        </p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <span class="badge badge-success">Microsite colors</span>
                                        </div>
                                        <div class="timeline-body">
                                            <div class="row mt-2">
                                                <div class="col-md-12 pt-2 pb-2">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput type="color">
                                                    </mat-form-field>
                                                    <!--<input matInput type="color"/>-->
                                                    <button type="button" class="btn btn-rose">
                                                        Save
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-11">
                                                    Show business name
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="togglebutton">
                                                        <label>
                                                            <input type="checkbox" checked="" formControlName="">
                                                            <span class="toggle"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row ">
                                                <div class="col-md-9">
                                                    Microsite sidebar
                                                </div>
                                                <div class="col-md-3">
                                                    <mat-form-field>
                                                        <mat-select formControlName="amountOfNotice">
                                                            <mat-option value="0">Show on the left</mat-option>
                                                            <mat-option value="1">Show on the right</mat-option>
                                                            <mat-option value="2">Do not show</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-11">

                                                    Show image slider
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="togglebutton">
                                                        <label>
                                                            <input type="checkbox" checked="" formControlName="">
                                                            <span class="toggle"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-11">

                                                    Show contact details
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="togglebutton">
                                                        <label>
                                                            <input type="checkbox" checked="" formControlName="">
                                                            <span class="toggle"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-11">

                                                    Show map
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="togglebutton">
                                                        <label>
                                                            <input type="checkbox" checked="" formControlName="">
                                                            <span class="toggle"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-11">

                                                    Show opening times
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="togglebutton">
                                                        <label>
                                                            <input type="checkbox" checked="" formControlName="">
                                                            <span class="toggle"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <span class="badge badge-success">Direct messages</span>
                                        </div>
                                        <div class="timeline-body">
                                            <div class="row mt-2">
                                                <div class="col-md-12 pt-2">
                                                    <p>
                                                        Text to pre-fill when you send a direct message <button type="button" class="btn btn-rose pull-right">Save</button>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label class="textarea">
                                                        <textarea matInput formControlName="prefilledDirectMessage" rows="3" class="form-control"></textarea>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<app-modal #modal1>

    <form novalidate (ngSubmit)="onSubmit(userForm)" [formGroup]="userForm"  style="border:1px solid transparent;">
        <div class="app-modal-header">
            Edit your microsite URL
        </div>
        <div class="app-modal-body">
            <p>
                Tailor your microsite URL to change where customers go to book with you.
            </p>
            <p>
                Currently, customers can book with you at:
            </p>
            <button type="button" class="btn btn-default">
                teksify1.Appointmentor.com
            </button>
            <p>
                Your new microsite URL
            </p>
            <mat-form-field class="example-full-width">
                <input matInput type="text" placeholder="company-name" >
            </mat-form-field>
            <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                <p><b>Your microsite URL can only be changed once.</b></p>
                <p>This cannot be undone.</p>
            </div>
        </div>
        <div class="app-modal-footer">
            <button type="button" (click)="modal1.hide()" class="btn btn-default">Close</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="submit" [disabled]="userForm.invalid" class="btn btn-rose">Save changes</button>
        </div>
    </form>
</app-modal>