<!--<div>
  <div class=" col-md-2 col-xs-5" style="border:solid 1px #e0e0e0; background-color: #333333; height:100%; min-height: 1200px;">
    <div class="accordion slideaccordion editsitemenu">
      <ng-nav></ng-nav>
    </div>
  </div>
  <div class=" col-md-10 col-xs-7 no-padding">
    <app-header></app-header>
    <div class="top-separate-bar"></div>

    <div class="padding-left-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>-->
<div class="wrapper">
    <div class="sidebar" data-color="white" data-background-color="red" data-image="./assets/img/sidebar-1.jpg">
        <ng-nav></ng-nav>
        <div class="sidebar-background" style="background-image: url(assets/img/sidebar-1.jpg)"></div>
    </div>
    <div class="main-panel">
        <app-header></app-header>

        <router-outlet></router-outlet>



    </div>

</div>
<ngx-spinner></ngx-spinner>