<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Resources</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
<section class="content-wrapper">
  <h4>Who or What are your Resources?</h4>
  <p>Resources are whoever or whatever your customers can book for period of times.They can be employees, facilities or room.
    For example, normally your first resource is you.</p>
  <span class="pull-right pt-2">
    <a class="btn-u" [routerLink]="['/resource', 0]">
      <i class="fa fa-plus"></i>&nbsp;Create Resource
    </a>
  </span>
  <hr>
  <ngx-datatable class='table table-striped' [columnMode]="'flex'" [headerHeight]="50" [rowHeight]="'auto'" [rows]='resources'>
    <!--<ngx-datatable-column [flexGrow]="1">
      <ng-template ngx-datatable-cell-template let-row="row">
        <div style="height:30px; width:30px;" [style.background-color]="'row[color]'"></div>
      </ng-template>
    </ngx-datatable-column>-->
    <ngx-datatable-column name="Resource Name" [flexGrow]="2">
      <ng-template ngx-datatable-cell-template let-row="row">
        <span>{{row['firstName']}} {{row['lastName']}}</span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Email" prop="emailAddress" [flexGrow]="2"></ngx-datatable-column>
    <ngx-datatable-column name="Address" prop="address" [flexGrow]="3">
      <ng-template let-value="value" ngx-datatable-cell-template let-row="row">
        <span>{{value.addressLine1}}</span>
        <span *ngIf="value.addressLine2">, {{value.addressLine2}}</span>
        <span *ngIf="value.city">, {{value.city}}</span>
        <span *ngIf="value.postcode">, {{value.postcode}}</span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Services" prop="serviceResource" [flexGrow]="2">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <label *ngFor="let item of value" class="margin-left-5">
          <span class="badge">{{item.serviceName}}</span>
        </label>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Actions" [flexGrow]="2" [sortable]="false">
      <ng-template let-rowIndex="rowIndex" let-id="value" let-row="row" ngx-datatable-cell-template>
        <!--<button type="button" class="btn btn-default" [routerLink]="['/resource', row['resourceId']]">
          Edit
        </button>-->
        <button mat-raised-button  type="button" class="btn btn-default btn-link">
          <i class="material-icons">delete</i>
        </button>
        <button mat-raised-button type="button" class="btn btn-default btn-link" [routerLink]="['/resource', row['resourceId']]">
          <i class="material-icons">edit</i>
        </button>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>