<form  class="sky-form zero-padding" novalidate [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)">
  <div class="col-xs-12">
    <h2>General Setting</h2>
    <hr />

    <div class="row">
      <div class="col-xs-8">
        <label class="label">Calendar interval increments</label>
        <label class="select">
          <select formControlName="calendarIntervalIncrement">
            <option value="1">1 minute</option>
            <option value="2">2 minutes</option>
            <option value="3">3 minutes</option>
            <option value="5">5 minutes</option>
            <option value="10">10 minutes</option>
            <option value="15">15 minutes</option>
            <option value="30">30 minutes</option>
            <option value="60">60 minutes</option>
          </select>
          <i></i>
        </label>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-8">
        <label class="label">Timezone</label>
        <label class="select">
          <select formControlName="timeZoneId">
            <option *ngFor="let item of timezonelist" [value]="item.id">{{item.title}}</option>
          </select>
          <i></i>
        </label>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-8">
        <label class="label">Currency</label>
        <label class="select">
          <select formControlName="currencyId">
            <option *ngFor="let item of currencylist" [value]="item.id">{{item.title}}</option>
          </select>
          <i></i>
        </label>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-8">
        <label class="label">Date Format</label>
        <label class="select">
          <select formControlName="dateFormat">
            <option value="dd/mm/yyyy">dd/mm/yyyy</option>
            <option value="mm/dd/yyyy">mm/dd/yyyy</option>
          </select>
          <i></i>
        </label>
      </div>
    </div>

    <footer class="pull-right">
      <button class="btn btn-u">Save</button>
    </footer>
  </div>
</form>
