<form id="sky-form3" class="sky-form zero-padding" novalidate (ngSubmit)="onSubmit(userForm)" [formGroup]="userForm">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-8">
        <label class="label">Category Name*</label>
        <label class="input">
          <i class="icon-append fa fa-user"></i>
          <input type="text" formControlName="CategoryName" maxlength="50">
          
        </label>
        <div class="form-error-content" *ngIf="submitted">
          <span *ngIf="userForm.get('CategoryName').errors?.required">
            Category name is required
          </span>
          <span *ngIf="userForm.get('CategoryName').errors?.pattern">
            Category name is invalid
          </span>
          <span *ngIf="userForm.get('CategoryName').errors?.maxlength">
            Category name can not more than 50 characters.
          </span>
        </div>
      </div>
    </div>
    

    <footer class="pull-right">
      <button class="btn btn-u">Save</button>
    </footer>
  </div>
</form>
