<form id="sky-form3" class="sky-form zero-padding" novalidate (ngSubmit)="onSubmit(userForm)" [formGroup]="userForm">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-8">
        <input type="hidden" formControlName="categoryId">
        <input type="hidden" formControlName="organizationId">
        <label class="label">Plan Name*</label>
        <label class="input">
          <i class="icon-append fa fa-user"></i>
          <input type="text" formControlName="categoryName" maxlength="50">
        </label>
        <div class="form-error-content" *ngIf="submitted">
          <span *ngIf="userForm.get('categoryName').errors?.required">
            Plan name is required
          </span>
          <span *ngIf="userForm.get('categoryName').errors?.pattern">
            Plan name is invalid
          </span>
          <span *ngIf="userForm.get('categoryName').errors?.maxlength">
            Plan name can not more than 50 characters.
          </span>
        </div>
      </div>
    </div>
    <footer class="pull-right">
      <button class="btn btn-u">Save</button>
    </footer>
  </div>
</form>
