<form id="sky-form3" class="sky-form zero-padding" novalidate (ngSubmit)="onSubmit(userForm)" [formGroup]="userForm">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-4">
        <label class="label">Category*</label>
        <label class="input">
          <i class="icon-append fa fa-user"></i>
          <select formControlName="categoryId">
            <option *ngFor="let cat of categories" [value]="cat.CategoryId">{{cat.categoryName}}</option>
          </select>
        </label>
        <div class="form-error-content" *ngIf="submitted">
          <span *ngIf="userForm.get('categoryId').errors?.required">
            Category is required
          </span>
        </div>
      </div>
      <div class="col-xs-4">
        <label class="label">Permission*</label>
        <label class="input">
          <i class="icon-append fa fa-user"></i>
          <select formControlName="PermissionId">
            <option *ngFor="let p of permissions" [value]="p.id">{{p.title}}</option>
          </select>
        </label>
        <div class="form-error-content" *ngIf="submitted">
          <span *ngIf="userForm.get('PermissionId').errors?.required">
            Permission is required
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-8">
        <label class="label">Service Name*</label>
        <label class="input">
          <i class="icon-append fa fa-user"></i>
          <input type="text" formControlName="ServiceName" maxlength="50" placeholder="Give your service a name">
        </label>
        <div class="form-error-content" *ngIf="submitted">
          <span *ngIf="userForm.get('ServiceName').errors?.required">
            Service name is required
          </span>
          <span *ngIf="userForm.get('ServiceName').errors?.pattern">
            Service name is invalid
          </span>
          <span *ngIf="userForm.get('ServiceName').errors?.maxlength">
            Service name can not more than 50 characters.
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8">
        <div class="col-xs-6 zero-padding">
          <label class="label">Duration</label>
          <label class="input">
            <input formControlName="Duration" maxlength="2" type="number" class="form-control" placeholder=""/>
          </label>
        </div>
        <div class="col-xs-6 zero-padding">
          <label class="label">Minutes</label>
          <label class="select">
            <select formControlName="DurationType" class="form-control">
              <option selected="selected">Minutes</option>
              <option>Hours</option>
              <option>Days</option>
              <option>Months</option>
            </select>
            <i></i>
          </label>
        </div>
        <div class="form-error-content" *ngIf="submitted">
          <span *ngIf="userForm.get('Duration').errors?.required">
            Duration is required
          </span>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-xs-8">
        <div class="col-xs-6 zero-padding">
          <label class="label">Price*</label>
          <label class="input">
            <span *ngIf="!isPriceOnApplication">
              <input formControlName="Price" maxlength="5" type="number" class="form-control"/>
            </span>
            <span *ngIf="isPriceOnApplication">
              <input class="form-control" disabled="disabled" value="0"/>
            </span>
          </label>
          <div class="form-error-content" *ngIf="submitted">
            <span *ngIf="userForm.get('Price').errors?.required">
              Price is required
            </span>
          </div>
        </div>
        <div class="col-xs-6">
          <label class="label">&nbsp;</label>
          <label class="input">
            <label class="checkbox">
              <input type="checkbox" (change)="isPriceOnApplication = !isPriceOnApplication"><i></i>Price on Application {{isPriceOnApplication}}
            </label>
          </label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-8">
        <label class="label">&nbsp;</label>
        <label class="checkbox">
          <input type="checkbox" (change)="isCustomerSupport = !isCustomerSupport"><i></i>Can multiple customers attend this service at one time?
        </label>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-4">
        <label class="label">Occupancy</label>
        <label class="input">
          <span *ngIf="!isPriceOnApplication">
            <input formControlName="Occupancy" type="number" value="1" min="1" class="form-control"/>
          </span>
        </label>
      </div>
    </div>

    <footer class="pull-right">
      <button class="btn btn-u">Save</button>
    </footer>
  </div>
</form>

<pre>{{service|json}}</pre>