<h3>
  Create Resource</h3>

<form novalidate (ngSubmit)="onSubmit(userForm)" [formGroup]="userForm" class="sky-form">
  <input type="hidden" formControlName="resourceId" />
  <input type="hidden" formControlName="organizationId" />
  <fieldset>
    <div class="row">
      <section class="col col-6">
        <label class="label required">Name</label>
        <label class="input">
          <i class="icon-append fa fa-user"></i>
          <input type="text" formControlName="resourceName">
        </label>
        <div class="form-error-content" *ngIf="submitted">
          <span *ngIf="userForm.get('resourceName').errors?.required">
            Resource name is required
          </span>
          <span *ngIf="userForm.get('resourceName').errors?.pattern">
            Resource name should only contain alphabets
          </span>
          <span *ngIf="userForm.get('resourceName').errors?.maxlength">
            Resource name can not more than 50 characters.
          </span>
        </div>
      </section>

      <section class="col col-6">
        <label class="label required">Email</label>
        <label class="input">
          <i class="icon-append fa fa-at"></i>
          <input type="email" formControlName="emailAddress">
        </label>
        <div *ngIf="userForm.invalid && submitted" class="form-error-content">
          <div *ngIf="userForm.controls['emailAddress'].errors && userForm.controls['emailAddress'].errors.required">
            Email is required
          </div>
          <div *ngIf="userForm.controls['emailAddress'].errors && !userForm.controls['emailAddress'].errors.required && userForm.controls['emailAddress'].errors.email">
            Email is invalid
          </div>
        </div>
      </section>
    </div>

    <div class="row">
      <section class="col col-6">
        <label class="label required">Address 1</label>
        <label class="input">
          <i class="icon-append fa fa-building"></i>
          <input formControlName="addressLine1" type="text" maxlength="50" class="form-control" placeholder="Enter House/Office">
        </label>
        <div *ngIf="userForm.invalid && submitted" class="form-error-content">
          <div *ngIf="userForm.controls['addressLine1'].errors && userForm.controls['addressLine1'].errors.required">
            Address is required
          </div>
        </div>
      </section>

      <section class="col col-6">
        <label class="label">Address 2</label>
        <label class="input">
          <i class="icon-append fa fa-building"></i>
          <input formControlName="addressLine2" type="text" maxlength="50" class="form-control" placeholder="Enter Street Name">
        </label>
      </section>
    </div>

    <div class="row">
      <section class="col col-6">
        <label class="label required">City</label>
        <label class="input">
          <i class="icon-append fa fa-building"></i>
          <input formControlName="city" type="text" maxlength="50" class="form-control" placeholder="Enter City Name">
        </label>
        <div *ngIf="userForm.invalid && submitted" class="form-error-content">
          <div *ngIf="userForm.controls['city'].errors && userForm.controls['city'].errors.required">
            City is required
          </div>
        </div>
      </section>

      <section class="col col-6">
        <label class="label required">Postcode</label>
        <label class="input">
          <i class="icon-append fa fa-area-chart"></i>
          <input formControlName="postcode" type="text" maxlength="50" class="form-control" placeholder="Enter Postcode Name">
        </label>
        <div *ngIf="userForm.invalid && submitted" class="form-error-content">
          <div *ngIf="userForm.controls['postcode'].errors && userForm.controls['postcode'].errors.required">
            Postcode is required
          </div>
        </div>
      </section>
    </div>
    <div class="row">
      <section class="col col-4">
        <label class="label required">Services</label>
        <mat-list-item *ngFor="let c of categories">
          <h4 mat-line>{{c.categoryName}}</h4>
          <ngx-datatable [rows]="c.services" [columnMode]="'flex'" [headerHeight]="0" [footerHeight]="0" [rowHeight]="'auto'" [selectionType]="'checkbox'"
            (select)='onSelect($event)' [selected]="selectedServices">
            <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
              <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
                <input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)" />
              </ng-template>
              <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn"
                let-row="row">
                <div>
                  <mat-checkbox [checked]="isSelected" (change)="onCheckboxChangeFn($event)"></mat-checkbox>
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="serviceName" [flexGrow]="4"></ngx-datatable-column>
          </ngx-datatable>
        </mat-list-item>
      </section>
    </div>
    <div class="row">
      <label class="label">Color (To show inside appointment calendar)</label>
      <label class="input">
        <div class="col-1">
          <input formControlName="color" type="color">
        </div>
      </label>
    </div>

    <div class="pull-right">
      <button type="button" class="btn btn-default" action="action" onclick="window.history.go(-1); return false;">Cancel</button>
      <button type="submit" class="btn-u">Save</button>
    </div>
  </fieldset>
</form>