<nav class="top-bar navbar navbar-static-top ">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <div class="row ">
        <div class="col-xs-3">
          <a class="logo-link" [routerLink]="['/appointment']">
            <img [src]="trustedProfileImageUrl" alt="logo" style="width:15%;" />
          </a>
          <!-- <span class="fa fa-building"></span> -->
          <strong style="text-align:left;">{{userInfo?.currentUser?.profile?.businessName}}</strong>
          <div>{{userInfo?.currentUser?.profile?.street}}, {{userInfo?.currentUser?.profile?.city}}, {{userInfo?.currentUser?.profile?.postCode}}</div>

        </div>
        <div class="col-xs-4">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for..." disabled="disabled">
            <span class="input-group-btn">
              <button class="btn btn-search" type="button" disabled="disabled"><i class="fa fa-search fa-fw"></i> Search</button>
            </span>
          </div>

        </div>
        <div class="col-xs-5 text-right">
          <ul class="nav navbar-nav navbar-right">
            <li class="upper-links" align="center"><a class="links" disabled="disabled"><i class="fa fa-question-circle fa-cx"></i><br/>Help</a></li>
            <li class="upper-links" align="center"><a class="links" disabled="disabled"><i class="fa fa-bell  fa-cx"></i><br/>Alerts</a></li>
            <li class="upper-links" align="center"><a class="links" disabled="disabled"><i class="fa fa-trophy  fa-cx"></i><br/>Achievements</a></li>
            <li class="dropdown" align="center" (click)="showMenu()"><a class="links"><i class="fa fa-user  fa-cx"></i><br
                />{{userInfo?.currentUser?.firstName}}&nbsp;&nbsp;<b class="caret"></b></a>
              <ul class="dropdown-menu user-top-right-menu" *ngIf="active=='user'">
                <li><a title="Dashboard" [routerLink]="['/profile']"><i class="fa fa-book"></i>&nbsp;&nbsp;Profile</a></li>
                <li><a title="Settings" [routerLink]="['/reset', 0]"><i class="fa fa-gear"></i>&nbsp;&nbsp;Password</a></li>
                <li class="divider"></li>
                <li><a [routerLink]="['/logout']"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>