<div class="logo">
    <a class="simple-text logo-mini">
        <div class="logo-img">
            <img [src]="trustedProfileImageUrl" alt="logo" />
        </div>
    </a>
    <a href="#" class="simple-text logo-normal">
      {{userInfo?.currentUser?.profile?.businessName}}
    </a>
</div>

<div class="sidebar-wrapper">
  <div class="user">
    <div class="photo">
      <img src="./assets/img/faces/avatar.jpg" />
    </div>
    <div class="user-info">
      <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                        <span>
                            Sadia Batool
                            <b class="caret"></b>
                        </span>
      </a>
      <div class="collapse" id="collapseExample">
        <ul class="nav">
          <li class="nav-item">
            <a href="javascript:void(0)" class="nav-link">
              <span class="sidebar-mini">MP</span>
              <span class="sidebar-normal">My Profile</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="javascript:void(0)" class="nav-link">
              <span class="sidebar-mini">EP</span>
              <span class="sidebar-normal">Edit Profile</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="javascript:void(0)" class="nav-link">
              <span class="sidebar-mini">S</span>
              <span class="sidebar-normal">Settings</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="javascript:void(0)" class="nav-link">
              <span class="sidebar-mini"></span>
              <span class="sidebar-normal">Settings</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div *ngIf="isMobileMenu()">
    <form class="navbar-form">
                <span class="bmd-form-group"><div class="input-group no-border">
                  <input type="text" value="" class="form-control" placeholder="Search...">
                  <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                    <i class="material-icons">search</i>
                    <div class="ripple-container"></div>
                  </button>
                </div></span>
    </form>
    <ul class="nav navbar-nav nav-mobile-menu">
      <li class="nav-item">
        <a class="nav-link" href="#pablo">
          <i class="material-icons">dashboard</i>
          <p>
            <span class="d-lg-none d-md-block">Stats</span>
          </p>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="#pablo" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="material-icons">notifications</i>
          <span class="notification">5</span>
          <p>
            <span class="d-lg-none d-md-block">Some Actions</span>
          </p>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Mike John responded to your email</a>
          <a class="dropdown-item" href="#">You have 5 new tasks</a>
          <a class="dropdown-item" href="#">You're now friend with Andrew</a>
          <a class="dropdown-item" href="#">Another Notification</a>
          <a class="dropdown-item" href="#">Another One</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#pablo">
          <i class="material-icons">person</i>
          <p>
            <span class="d-lg-none d-md-block">Account</span>
          </p>
        </a>
      </li>
    </ul>
  </div>
  <ul class="nav">
    <li routerLinkActive="active" *ngFor="let menuitem of menuItems" class="nav-item">
      <!--If is a single link-->
      <a [routerLink]="[menuitem.path]" *ngIf="menuitem.type === 'link'" class="nav-link">
        <i class="material-icons">{{menuitem.icontype}}</i>
        <p>{{menuitem.title}}</p>
      </a>
      <!--If it have a submenu-->
      <a data-toggle="collapse" href="#{{menuitem.collapse}}" *ngIf="menuitem.type === 'sub'" (click)="updatePS()" class="nav-link">
        <i class="material-icons">{{menuitem.icontype}}</i>
        <p>{{menuitem.title}}<b class="caret"></b></p>
      </a>

      <!--Display the submenu items-->
      <div id="{{menuitem.collapse}}" class="collapse" *ngIf="menuitem.type === 'sub'">
        <ul class="nav">
          <li routerLinkActive="active" *ngFor="let childitem of menuitem.children" class="nav-item">
            <a [routerLink]="[menuitem.path, childitem.path]" class="nav-link">
              <span class="sidebar-mini">{{childitem.ab}}</span>
              <span class="sidebar-normal">{{childitem.title}}</span>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a href="http://md-pro-angular.creative-tim.com/documentation/tutorial?ref=md-pro-archive" class="nav-link">
        <i class="material-icons">school</i>
        <p>Documentation</p>
      </a>
    </li>
  </ul>

</div>

<!--
<ul class="nav panel-group zero-padding">
  <li>
    <a [routerLink]="['/appointment']">
      <h4 class="panel-title"><i class="fa fa-home"></i>Home</h4>
    </a>
  </li>
  <li class="on panel panel-default">
    <a class="submenu-toggle panel-heading">
      <h4 class="panel-title"><i class="fa fa-cog"></i>Settings</h4>
      <i class="fr fa fa-angle-down" *ngIf="active!='settings'" (click)="active='settings'"></i>
      <i class="fr fa fa-angle-up" *ngIf="active=='settings'" (click)="active=''"></i>
    </a>
    <ul class="submenu panel-collapse collapse list-unstyled in" *ngIf="active=='settings'">
      <li><a [routerLink]="['/profile']" routerLinkActive="on">Organisation Proﬁle</a></li>
      <li><a [routerLink]="['/openingtimes']" routerLinkActive="on">Timings & Calendar</a></li>
      <li><a [routerLink]="['/plans']" routerLinkActive="on">Plans, Services & Prices</a></li>
      <li><a [routerLink]="['/resources']" routerLinkActive="on">Team & Resources</a></li>
      <li><a [routerLink]="['/asset']" routerLinkActive="on">Assets, Inventory & Stocks</a></li>
      <li><a [routerLink]="['/task']" routerLinkActive="on">Tasks & Activities </a></li>
      <li><a [routerLink]="['/general']" routerLinkActive="on">Configurations & Rules</a></li>
      <li><a [routerLink]="['/account']" routerLinkActive="on">Account Management</a></li>
    </ul>
  </li>
  <li class="on panel panel-default">
    <a class="submenu-toggle panel-heading">
      <h4 class="panel-title"><i class="fa fa-bullhorn"></i>Customer Management</h4>
      <i class="fr fa fa-angle-down" *ngIf="active!='customers'" (click)="active='customers'"></i>
      <i class="fr fa fa-angle-up" *ngIf="active=='customers'" (click)="active=''"></i>
    </a>
    <ul class="submenu panel-collapse collapse list-unstyled in" *ngIf="active=='customers'">
      <li><a [routerLink]="['/customers']">Profiles & Registrations</a></li>
      <li><a [routerLink]="['/underProcess']">Customers Financials</a></li>

    </ul>
  </li>

  <li class="on panel panel-default">
    <a class="submenu-toggle panel-heading">
      <h4 class="panel-title"><i class="fa fa-bullhorn"></i>Communications</h4>
      <i class="fr fa fa-angle-down" *ngIf="active!='communications'" (click)="active='communications'"></i>
      <i class="fr fa fa-angle-up" *ngIf="active=='communications'" (click)="active=''"></i>
    </a>
    <ul class="submenu panel-collapse collapse list-unstyled in" *ngIf="active=='communications'">
      <li><a [routerLink]="['/underProcess']">Comms & Messages </a></li>
      <li><a [routerLink]="['/emailsetting']">Feedback & Notiﬁcations</a></li>
      <li><a [routerLink]="['/underProcess']">Follow up / Recall Manager</a></li>
      <li><a [routerLink]="['/Reviews']">Reviews & Social Media</a></li>
      <li><a [routerLink]="['/Marketing']">Marketing Campaigns</a></li>
      <li><a [routerLink]="['/welcomepack']">Templates (Welcome, FB)</a></li>
      <li><a [routerLink]="['/underProcess']">CRM Routines</a></li>
      <li><a [routerLink]="['/underProcess']">INTERNAL Team (MattMost)</a></li>

     



      <li><a [routerLink]="['/medialibrary']">Media Library </a></li>
    </ul>
  </li>
  <li class="on panel panel-default">
    <a class="submenu-toggle panel-heading">
      <h4 class="panel-title"><i class="fa fa-gavel"></i>Tools & Plugins</h4>
      <i class="fr fa fa-angle-down" *ngIf="active!='tools'" (click)="active='tools'"></i>
      <i class="fr fa fa-angle-up" *ngIf="active=='tools'" (click)="active=''"></i>
    </a>
    <ul class="submenu panel-collapse collapse list-unstyled in" *ngIf="active=='tools'">
      <li><a [routerLink]="['/payments']">e-Payments </a></li>
      <li class=""><a [routerLink]="['/microsite']">Business Micro Web Site</a></li>
      <li><a [routerLink]="['/underProcess']">Couponator</a></li>
      <li><a [routerLink]="['/underProcess']">Referrals Magic</a></li>
      <li><a [routerLink]="['/underProcess']">Self Check-in</a></li>
      <li><a [routerLink]="['/underProcess']">Customer Connections</a></li>
      <li><a [routerLink]="['/underProcess']">Provider's myDiary App</a></li>
      <li><a [routerLink]="['/underProcess']">myAppointments App</a></li>

      &lt;!&ndash; <li><a [routerLink]="['/underProcess']">Recall Manager</a></li> &ndash;&gt;



    </ul>
  </li>
  <li class="on panel panel-default">
    <a class="submenu-toggle panel-heading">
      <h4 class="panel-title"><i class="fa fa-cogs"></i>Integrations</h4>
      <i class="fr fa fa-angle-down" *ngIf="active!='integrations'" (click)="active='integrations'"></i>
      <i class="fr fa fa-angle-up" *ngIf="active=='integrations'" (click)="active=''"></i>
    </a>
    <ul class="submenu panel-collapse collapse list-unstyled in" *ngIf="active=='integrations'">
      <li><a [routerLink]="['/epos']">Point of Sale - EPoS</a></li>
      <li><a [routerLink]="['/underProcess']">Accounting</a></li>
      <li><a [routerLink]="['/bookingapps']">Booking Apps</a></li>
      <li><a [routerLink]="['/api']">APIs & Webhooks</a></li>


      <li><a [routerLink]="['/freeagent']">Free Agent</a></li>

    </ul>
  </li>
  <li class="on panel panel-default">
    <a class="submenu-toggle panel-heading">
      <h4 class="panel-title"><i class="fa fa-line-chart"></i>Reports</h4>
      <i class="fr fa fa-angle-down" *ngIf="active!='reports'" (click)="active='reports'"></i>
      <i class="fr fa fa-angle-up" *ngIf="active=='reports'" (click)="active=''"></i>
    </a>
    <ul class="submenu panel-collapse collapse list-unstyled in" *ngIf="active=='reports'">
      <li><a [routerLink]="['/dashboard']">Dashboard</a></li>
      <li><a [routerLink]="['/underProcess']">Booking & User Reports</a></li>
      <li><a [routerLink]="['/monthlyOverview']">Financial Reports</a></li>
    </ul>
  </li>
  <li class="on panel panel-default">
    <a class="submenu-toggle panel-heading">
      <h4 class="panel-title"><i class="fa fa-file-invoice"></i>Financial Management</h4>
      <i class="fr fa fa-angle-down" *ngIf="active!='billings'" (click)="active='billings'"></i>
      <i class="fr fa fa-angle-up" *ngIf="active=='billings'" (click)="active=''"></i>
    </a>
    <ul class="nav panel-group">
      <li class="on panel panel-default">
        <a class="submenu-toggle panel-heading">
          <h4 class="panel-title"><i class="fa fa-file-invoice"></i>Income</h4>
          <i class="fr fa fa-angle-down" *ngIf="active!='income'" (click)="active='income'"></i>
          <i class="fr fa fa-angle-up" *ngIf="active=='income'" (click)="active=''"></i>
        </a>
        <ul class="submenu panel-collapse collapse list-unstyled in"  *ngIf="active=='income'">
          <li><a [routerLink]="['/billing']">Invoices and Payments</a></li>
          <li><a [routerLink]="['/underProcess']">Insurance Billing</a></li>
        </ul>
      </li>

      <li class="on panel panel-default">
        <a class="submenu-toggle panel-heading">
          <h4 class="panel-title"><i class="fa fa-file-invoice"></i>Expenses</h4>
          <i class="fr fa fa-angle-down" *ngIf="active!='expense'" (click)="active='expense'"></i>
          <i class="fr fa fa-angle-up" *ngIf="active=='expense'" (click)="active=''"></i>
        </a>
        <ul class="submenu panel-collapse collapse list-unstyled in" *ngIf="active=='expense'">
          <li><a [routerLink]="['/underProcess']">Billing (Platform)</a></li>
          <li><a [routerLink]="['/underProcess']">Team and Op Costs</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li class="on panel panel-default">
    <a class="submenu-toggle panel-heading">
      <h4 class="panel-title"><i class="fa fa-question-circle"></i>Help & Support</h4>
      <i class="fr fa fa-angle-down" *ngIf="active!='help'" (click)="active='help'"></i>
      <i class="fr fa fa-angle-up" *ngIf="active=='help'" (click)="active=''"></i>
    </a>
    <ul class="submenu panel-collapse collapse list-unstyled in" *ngIf="active=='help'">
      <li><a [routerLink]="['/underProcess']">Launch Support Ticket</a></li>
      <li><a [routerLink]="['/underProcess']">UserGuide</a></li>
      <li><a [routerLink]="['/underProcess']">Support & Feedback</a></li>
      <li><a [routerLink]="['/underProcess']">Suggestions & Ideas</a></li>
    </ul>
  </li>
  <li class="on panel panel-default">
    <a class="submenu-toggle panel-heading">
      <h4 class="panel-title"><i class="fa fa-project-diagram"></i>Recently Used Links</h4>
      <i class="fr fa fa-angle-down" *ngIf="active!='recently'" (click)="active='recently'"></i>
      <i class="fr fa fa-angle-up" *ngIf="active=='recently'" (click)="active=''"></i>
    </a>
    <ul class="submenu panel-collapse collapse list-unstyled in" *ngIf="active=='recently'">
      <li><a [routerLink]="['/underProcess']">Recall Manager</a></li>
      <li><a [routerLink]="['/underProcess']">Support & Feedback</a></li>
      <li><a [routerLink]="['/services']">Services</a></li>
    </ul>
  </li>
</ul>-->
