/* Add here all your css styles (customizations) */

.small_width {
  width: 45% !important;
}

.smallest_width {
  width: 35% !important;
}

.h1 {
  color: #282828;
  font-size: 20px;
}

.h2 {
  color: #282828;
  font-size: 15px;
}

.h3 {
  color: #282828;
  font-size: 12px;
}

.nopad {
  padding-right: 0px !important;
}

.zero-padding {
  margin: 0px;
  padding: 0px;
}

.f_l {
  float: left;
}

.zero-border {
  border-radius: 3px;
  border-top: 0px;
}

.home-pg-btn {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  margin-bottom: 20px;
}

.app_form {
  border-bottom: 2px solid #72c02c;
}

  .app_form > li.active > a, .app_form > li.active > a:focus, .app_form > li.active > a:hover {
    color: #fff;
    background-color: #72c02c;
  }

  .app_form > li > a {
    border-radius: 0px;
    color: #666666;
  }

    .app_form > li > a:hover {
      background-color: #72c02c;
      color: #ffffff;
    }

.nav > li {
  position: relative;
  display: block;
  color: #9d9d9d;
  
}

  .nav > li > a {
    position: relative;
    display: block;
    color: #9d9d9d;
    
  }

.navbar-default {
  background-color: #fafafa;
  border-color: #eee;
  border-radius: 0px;
}

  .navbar-default .navbar-nav > .active > a {
    color: #72c02c;
    background-color: transparent !important;
  }

    .navbar-default .navbar-nav > .active > a:hover {
      color: #72c02c;
      background-color: transparent !important;
    }

navbar-default .navbar-nav > li > a {
  color: #9d9d9d;
}

.navbar-default .navbar-nav > li > .active > a {
  color: #72c02c;
  background-color: transparent !important;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #72c02c;
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 8px;
  margin-top: 8px;
  margin-right: 11px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.navbar {
  margin-bottom: 0px !important;
}

.nav-pills > li > a {
  padding: 25px;
  border-radius: 0px;
}

.nav-pills > li.active > a {
  color: #fff;
  background-color: #72c02c;
}

  .nav-pills > li.active > a:hover {
    color: #fff;
    background-color: #72c02c;
  }

.nav-pills > li > a:hover {
  color: #fff;
  background-color: #72c02c;
}

.modal-content {
  margin-bottom: 20px;
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  background: #72c02c;
  color: #fff;
}

.wizard {
  margin: 20px auto;
  background: #fff;
}

  .wizard .nav-tabs {
    position: relative;
    margin: 40px auto;
    margin-bottom: 0;
    border-bottom-color: #e0e0e0;
  }

  .wizard > div.wizard-inner {
    position: relative;
  }

.connecting-line {
  height: 2px;
  background: #e0e0e0;
  position: absolute;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
  color: #555555;
  cursor: default;
  border: 0;
  border-bottom-color: transparent;
}

span.round-tab {
  width: 70px;
  height: 70px;
  line-height: 70px;
  display: inline-block;
  border-radius: 100px;
  background: #fff;
  border: 2px solid #e0e0e0;
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 25px;
}

  span.round-tab i {
    color: #555555;
  }

.wizard li.active span.round-tab {
  background: #fff;
  border: 2px solid #72c02c;
}

  .wizard li.active span.round-tab i {
    color: #72c02c;
  }

span.round-tab:hover {
  color: #333;
  border: 2px solid #333;
}

.wizard .nav-tabs > li {
  width: 25%;
}

.wizard li:after {
  content: " ";
  position: absolute;
  left: 38%;
  opacity: 0;
  margin: 0 auto;
  bottom: 0px;
  border: 5px solid transparent;
  border-bottom-color: #5bc0de;
  transition: 0.1s ease-in-out;
}

.wizard li.active:after {
  content: " ";
  position: absolute;
  left: 38%;
  opacity: 1;
  margin: 0 auto;
  bottom: 0px;
  border: 10px solid transparent;
  border-bottom-color: #72c02c;
}

.wizard .nav-tabs > li a {
  width: 70px;
  height: 70px;
  margin: 20px auto;
  border-radius: 100%;
  padding: 0;
}

  .wizard .nav-tabs > li a:hover {
    background: transparent;
  }

.wizard .tab-pane {
  position: relative;
  padding-top: 50px;
}

.wizard h3 {
  margin-top: 0;
}

.step1 .row {
  margin-bottom: 0px;
}

.step_21 {
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 10px;
}

.step33 {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.dropselectsec {
  width: 68%;
  padding: 6px 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #333;
  margin-left: 10px;
  outline: none;
  font-weight: normal;
}

.dropselectsec1 {
  width: 74%;
  padding: 6px 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #333;
  margin-left: 10px;
  outline: none;
  font-weight: normal;
}

.mar_ned {
  margin-bottom: 10px;
}

.wdth {
  width: 25%;
}

.birthdrop {
  padding: 6px 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #333;
  margin-left: 10px;
  width: 16%;
  outline: 0;
  font-weight: normal;
}


/* according menu */
#accordion-container {
  font-size: 13px
}

.accordion-header {
  font-size: 13px;
  background: #ebebeb;
  margin: 5px 0 0;
  padding: 7px 20px;
  cursor: pointer;
  color: #fff;
  font-weight: 400;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px
}

.unselect_img {
  width: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.active-header {
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  background: #F53B27;
}

  .active-header:after {
    content: "\f068";
    font-family: 'FontAwesome';
    float: right;
    margin: 5px;
    font-weight: 400
  }

.inactive-header {
  background: #333;
}

  .inactive-header:after {
    content: "\f067";
    font-family: 'FontAwesome';
    float: right;
    margin: 4px 5px;
    font-weight: 400
  }

.accordion-content {
  display: none;
  padding: 20px;
  background: #fff;
  border: 1px solid #ccc;
  border-top: 0;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px
}

  .accordion-content a {
    text-decoration: none;
    color: #333;
  }

  .accordion-content td {
    border-bottom: 1px solid #dcdcdc;
  }

.wizard {
  width: 90%;
  height: auto !important;
}

span.round-tab {
  font-size: 16px;
  width: 50px;
  height: 50px;
  line-height: 50px;
}

.wizard .nav-tabs > li a {
  width: 50px;
  height: 50px;
  line-height: 50px;
}

.panel-green > .panel-heading {
  background: #72c02c;
}

.panel-green {
  border-color: #eee;
  border-radius: 4px;
}

.panel-service > .panel-heading {
  background: #72c02c;
  padding: 5px !important;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
  color: #9d9d9d;
}

.panel-heading {
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #fff;
}

.panel-defaultmodal > .panel-body:hover {
  background-color: #fafafa;
}

.container {
  text-align: center;
}

.nav > li.disabled > a:active {
  color: #777 !important;
}
/*login form*/
.login_bg {
  background: #72c02c;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}
/*customer-page*/
.panel-green {
  border-color: #eee !important;
}

.button-padding {
  padding-left: 20px;
  padding-right: 20px;
}

.modal-title {
  color: #fff;
}
/*setting page*/
.admin_1 {
  margin-top: 20px;
}

.setting-scroller {
  overflow-y: scroll;
  overflow-x: visible;
  height: 510px;
}

.setting-box {
  padding-top: 0px !important;
  background-color: #fff !important;
  border: 0px !important;
}
/*opening-time*/
.opening_margin {
  margin-left: 30px;
}

.sky-form a {
  color: #72c02c;
}

.opening-section {
  margin-bottom: 5px !important;
  margin-top: 10px;
}

.opening-td {
  padding-top: 20px !important;
}

.wizard-footer {
  border-top: 1px solid transparent !important;
  padding: 0px 0px 0px !important;
}

.select-table {
  padding-left: 10px;
  padding-right: 5px;
}

/*asset*/
.asset-footer {
  border-top: 1px solid transparent !important;
}
/*onlinebookingdetails*/
.onlinebooking .input .icon-append + input {
  background: transparent !important;
}

.bookingheader {
  background: transparent;
  border: 0px;
}

.bookingtext {
  text-align: left !important;
}

.bookingcolor {
  color: #72c02c;
}

.margin-top-30 {
  margin-top: 20px;
}

.size {
  font-size: 9em !important;
}
/*profile*/
.form-border {
  border: 0px;
}

.sky-form .select select {
}

.form-control {
  width: 70%;
}

.opening-margin {
  margin-left: 36px;
}

.nav {
  padding-left: 20px;
}

.form-inline .form-group {
  display: inherit;
  margin-bottom: 15px;
  vertical-align: middle;
}

.form-inline .form-control {
  display: inherit;
  width: 70%;
  vertical-align: middle;
}

.form-control {
  display: block;
  width: 70%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.input-group-addon {
  background-color: #eee;
}

.wizard li.active:after {
  margin: 0 25px;
}

.form-horizontal .control-label {
  text-align: left;
}

.modal-body {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}

.panel-title {
  text-align: left !important;
  color: #fff;
}

.app-modal-body {
  text-align: left !important;
}
/*wizard-new*/
.border-lining {
  border: 1px solid transparent !important;
}
/*header*/
.navbar-inverse {
  border-color: transparent;
}
/*customerreport*/
.reportborder {
  border: 0px !important;
}
/*notification*/

@media (max-width: 991px) {
  .opening-margin {
    margin-left: 0px;
  }

  .wizard li.active:after {
    content: " ";
    position: absolute;
    left: 38%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #72c02c;
  }

  .setting-scroller {
    height: auto;
  }

  table {
    overflow-x: auto;
  }
}

@media (max-width: 786px) {
  .opening-margin {
    margin-left: 0px;
  }

  .wizard li.active:after {
    content: " ";
    position: absolute;
    left: 38%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #72c02c;
  }

  .admin_1 {
    margin-top: 10px;
  }

  .setting-scroller {
    height: auto;
  }

  table {
    overflow-x: auto;
  }
}

/*
.table-fixed
{
    width:100% !important;
}
.table-fixed table {
    width: 100%;
    border-spacing: 0;
}
.table-fixed thead, tbody, tr, th, td {
    display: block;
    border-width: thin;
    border: solid 1px #eee !important;
}
.table-fixed thead tr {
        width: 97%;
        width: -webkit-calc(100% - 16px);
        width: -moz-calc(100% - 16px);
        width: calc(100% - 16px);
}
.table-fixed tr:after { 
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}
.table-fixed tbody {
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}
.table-fixed tbody td, thead th {
    float: left;
}
*/
.home-page-banner {
  background: url("../images/banners/1.png");
  background-size: cover;
  height: 700px;
}

.appointment-calendar-separator-bar {
  height: 2px;
  background-color: #72c02c;
  width: 100%;
  float: left;
}

.appointment-booking-dialog {
  width: 60vw;
  height: 90vh;
  margin: 0 auto;
}

.has-error {
  border: solid 1px #e27284 !important;
}

.form-error-content {
  color: #da314c;
  font-weight: bold;
  text-align: left;
}

label.required:after,
.label.required:after {
  content: ' *';
  color: #da314c;
}

input:disabled {
  background: #ccc !important;
  cursor: not-allowed !important;
}

.container > div.head {
  padding: 0 0 10px;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 800px !important;
  }
}

.panel-heading .buttons {
  float: right;
  margin-top: 3px;
}


.label-highlighted {
  background-color: #97d161;
  border: solid 1px #008000;
}

.appointment-slot {
  text-align: center;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
  font-size: 12px;
  border-radius: 5px;
  margin-bottom: 8px;
  border: 1px solid #CFD8DC;
  cursor: pointer;
  padding: 7px;
}

select {
  width: 100%;
  padding: 7px;
}

.selected-slot {
  background-color: #97d161;
  border: solid 1px #008000;
}

.appointment-booking-popup-step-title {
  font-weight: bold;
  font-size: 18px;
  background-color: #72c02c;
  margin: 0 !important;
  padding: 12px;
  color: #fff;
}

.appointment-booking-popup-step-content {
  padding: 10px;
  min-height: 360px;
}

.appointment-booking-popup-step-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
  float: left;
  width: 100%;
  padding-top: 2px;
}

#appointment-booking-popup > div > div > div > div.modal-header {
  display: none;
}

#appointment-booking-popup > div > div > div > div.modal-body > div > mat-horizontal-stepper > div.mat-horizontal-stepper-header-container {
  display: none;
}

#appointment-booking-popup > div > div > div > div.modal-footer {
  display: none;
}

#appointment-booking-popup > div > div > div > div.modal-body {
  padding: 0 !important;
  overflow: hidden;
  min-height: 500px;
}

  #appointment-booking-popup > div > div > div > div.modal-body > div > mat-horizontal-stepper > div.mat-horizontal-content-container {
    padding: 0 !important;
  }

.popup-close-icon {
  float: right;
}

.mat-fab.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent {
  background-color: #72c02c !important;
}

.mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
  background-color: #72c02c !important;
}

.mat-calendar-body-selected {
  background-color: #72c02c !important;
  color: #fff;
}

.fc-event, .fc-event-dot {
  background-color: #72c02c !important;
}

.fc-event {
  border-color: #72c02c !important;
}

.fc-time-grid-event .fc-time {
  font-size: 20px !important;
}

.fc-time-grid-event .fc-time, .fc-time-grid-event .fc-title {
  font-size: 9px !important;
}

section.heading {
  text-align: left;
  font-weight: 700;
  font-size: 18px;
}

.ap-plan-card {
  box-shadow: 0 1px 2px 1px rgba(0,0,0,.2);
  padding: 15px;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  text-align: left;
}

.ap-plan-card-title {
  font-weight: 900;
}

.ap-page-billing *, .ap-page-settings *, .ap-page-sync *, .customer-communications-wrapper *, body.ap-hallway * {
  box-sizing: border-box;
}

.ap-plan-card button {
  margin-top: 5px;
  float: right;
}


form.checkout {
  max-width: 500px;
  margin: 2rem auto;
  text-align: center;
  border: 2px solid #eee;
  border-radius: 8px;
  padding: 1rem 2rem;
  background: white;
  font-family: monospace;
  color: #525252;
  font-size: 1.1rem;
}

  form.checkout button {
    padding: 0.5rem 1rem;
    color: white;
    background: coral;
    border: none;
    border-radius: 4px;
    margin-top: 1rem;
  }

    form.checkout button:active {
      background: rgb(165, 76, 43);
    }

.StripeElement {
  width: 100%;
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

/*@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../node_modules/font-awesome/css/font-awesome.css';
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';
@import '~ngx-toastr/toastr.css';
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/bootstrap.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import '~@ng-select/ng-select/themes/default.theme.css';*/
/* You can add global styles to this file, and also import other style files */
.ngx-datatable {
  overflow: visible !important;
}

  .ngx-datatable.bootstrap {
    border: 1px solid #dadada;
  }

  .ngx-datatable .datatable-header {
    background-color: #f1f1f1;
  }

    .ngx-datatable .datatable-header .datatable-header-inner {
      height: 40px;
    }

  .ngx-datatable .datatable-header .datatable-header-cell {
    color: black;
    font-weight: bold;
    padding: 5px;
  }

  .ngx-datatable .datatable-body .datatable-body-row {
    overflow: visible !important;
  }

    .ngx-datatable .datatable-body .datatable-body-row.active {
      background-color: #fff !important;
      color: #000 !important;
    }

    .ngx-datatable .datatable-body .datatable-body-row.datatable-row-even {
      background-color: rgba(0, 0, 0, 0) !important;
    }

  .ngx-datatable .datatable-body .datatable-body-row .datatable-body-cell {
    overflow: visible !important;
    padding: 5px 5px 0 5px;
  }

  .ngx-datatable .datatable-footer {
    background-color: transparent !important;
    color: #337ab7 !important;
    margin-top: 0px !important;
  }

    .ngx-datatable .datatable-footer .datatable-footer-inner {
      height: 0px !important;
    }

    .ngx-datatable .datatable-footer .pager li {
      margin: 10px -2px !important;
    }

      .ngx-datatable .datatable-footer .pager li.pages {
        margin: 10px 0px !important;
      }

        .ngx-datatable .datatable-footer .pager li.pages:first-child {
          margin-left: -2px !important;
        }

      .ngx-datatable .datatable-footer .pager li span {
        border: 1px solid rgba(51, 122, 183, 1);
        border-radius: 1px !important;
        margin: 0 !important;
        color: #337ab7 !important;
        height: 32px !important;
        min-width: 32px !important;
        line-height: 32px !important;
      }

      .ngx-datatable .datatable-footer .pager li.active a, .ngx-datatable .datatable-footer .pager li:hover a {
        background-color: #337ab7 !important;
        color: #fff !important;
      }

      .ngx-datatable .datatable-footer .pager li.disabled a {
        color: #ccc !important;
      }

    .ngx-datatable .datatable-footer .pager .datatable-icon-prev, .ngx-datatable .datatable-footer .pager .datatable-icon-left, .ngx-datatable .datatable-footer .pager .datatable-icon-skip, .ngx-datatable .datatable-footer .pager .datatable-icon-right {
      line-height: 36px !important;
    }

.table-top-form {
  border: 1px solid #dadada;
  border-bottom: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 15px;
}

.pac-container {
  z-index: 9999;
}

.modal-content .modal-body {
  overflow: hidden;
}

.navbar {
  position: relative !important;
  border: 0px solid transparent !important;
  min-height: 0px !important;
  margin-bottom: 0px !important;
}

.menu-tier-1 {
  background-color: transparent !important;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  display: none;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
  top: 7px;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option .media .media-body .subtitle {
  margin-bottom: 5px;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option .media .media-body p.text-muted {
  margin: 0;
  font-size: 12px;
}

.companies .empty-message {
  border-radius: 4px;
  border: 1px solid #dadada;
}

.companies .list-group .company-item .close-icon {
  position: absolute;
  top: 50%;
  right: 35px;
  transform: translateY(-50%);
  display: inline-block;
  cursor: pointer;
}

.companies-dropdown .media .media-left {
  padding-top: 7px;
}

  .companies-dropdown .media .media-left i {
    font-size: 1.2em;
  }

.sidebar-nav-v1 li a {
  display: block;
  padding: 15px 30px 14px 15px;
  color: #fff;
}

  .sidebar-nav-v1 li a:hover {
    text-decoration: none;
    color: #E5E4D7;
  }

  .sidebar-nav-v1 li a:active {
    text-decoration: none;
    color: #E5E4D7;
  }

.list-group {
  padding-left: 0;
}


.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  background-color: #808080;
}

.sidebar-nav-v1 > li.active {
  background: #72c02c;
}

.list-toggle:after {
  top: 7px;
  right: 10px;
  color: #fff;
  font-size: 14px;
  content: "\f105";
  position: absolute;
  font-weight: normal;
  display: inline-block;
  font-family: FontAwesome;
}
.dropdown-menu>li>a {
  display: block;
  padding: 7px 15px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 0px 0 !important;
  overflow: hidden;
  background-color: #e5e5e5;
}
.nav>li>a:hover {
  text-decoration: none;
  background-color:transparent !important;
  color:#72c02c !important;
}

