<h2>Openining Times</h2>
<form id="sky-form3" class="sky-form zero-border" novalidate (ngSubmit)="onSubmit(userForm)">
  <section>
    <div class="tab-content">
      <div class="tab-pane active" role="tabpanel">
        <div>
          <div class="panel panel-green margin-bottom-40 zero-border">
            <ngx-datatable class='table bootstrap' [columnMode]="'flex'" [headerHeight]="30" [rowHeight]="'auto'" [rows]='openingTimes' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)'>
              <ngx-datatable-column name="Day" prop="dayId" [flexGrow]="1">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <div>{{dayOfWeek(value-1)}}</div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
                  <input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)" />
                </ng-template>
                <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-rowIndex="rowIndex" let-onCheckboxChangeFn="onCheckboxChangeFn">
                  <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event); updateIsOpen($event, rowIndex, isSelected)" />
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [sortable]="false" name="OpeningTime" prop="openingTime" [flexGrow]="2" headerClass="text-center">
                <ng-template let-value="value" ngx-datatable-cell-template let-row="row" let-isSelected="isSelected" let-rowIndex="rowIndex">
                  <div class="text-center">
                    <select class="col-4" [value]="getHour(value)" [disabled]="!isSelected" (change)="updateValue($event, 'openingTime', rowIndex, 'hour')">
                      <option *ngFor="let time of timings.hours" [value]="time">{{time}}</option>
                    </select>
                    <select class="col-4" [value]="getMinute(value)" [disabled]="!isSelected" (change)="updateValue($event, 'openingTime', rowIndex, 'minute')">
                      <option *ngFor="let time of timings.minutes" [value]="time">{{time}}</option>
                    </select>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [sortable]="false" name="ClosingTime" prop="closingTime" [flexGrow]="2" headerClass="text-center">
                <ng-template let-value="value" ngx-datatable-cell-template let-row="row" let-isSelected="isSelected" let-rowIndex="rowIndex">
                  <div class="text-center">
                    <select class="col-4" [value]="getHour(value)" [disabled]="!isSelected" (change)="updateValue($event, 'closingTime', rowIndex, 'hour')">
                      <option *ngFor="let time of timings.hours" [value]="time">{{time}}</option>
                    </select>
                    <select class="col-4" [value]="getMinute(value)" [disabled]="!isSelected" (change)="updateValue($event, 'closingTime', rowIndex, 'minute')">
                      <option *ngFor="let time of timings.minutes" [value]="time">{{time}}</option>
                    </select>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="IsOpen" prop="isOpen" [flexGrow]="2">
                <ng-template let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
                  <a *ngIf="value" (click)="updateAllTimings($event, rowIndex)" style="cursor: pointer">Apply time to all</a>
                  <span *ngIf="!value">sit back and relax-all day closed</span>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
          <!--<div class="row">
            <section class="col col-6 opening-section ">
              <label class="select">
                <lookup-component formControlName="timezoneControl" [lookup]="timezonelist" [lookupselected]="selectedTimeZone" ngDefaultControl></lookup-component>
                <i></i>
              </label>
            </section>
            <section class="col col-6 opening-section ">
              <label class="select">
                <lookup-component formControlName="currencyControl" [lookup]="currencylist" [lookupselected]="selectedCurrency" ngDefaultControl></lookup-component>
                <i></i>
              </label>
            </section>
          </div>
          <div class="row">
            <div class="col col-6">
              <h5>Calendar interval increments</h5>
            </div>
            <div class="col col-6">
              <label class="select">
                <select>
                  <option value="1">1 minute</option>
                  <option value="2">2 minutes</option>
                  <option value="3">3 minutes</option>
                  <option value="5">5 minutes</option>
                  <option value="10">10 minutes</option>
                  <option value="15">15 minutes</option>
                  <option value="30">30 minutes</option>
                  <option value="60">60 minutes</option>
                </select>
                <i></i>
              </label>
            </div>
          </div>-->
          <footer class="pull-right">
            <button type="submit" class="btn btn-u">Save</button>
          </footer>
        </div>
      </div>
    </div>
  </section>
</form>
