<div class="main-content">
    <div class="container-fluid">
        <div class="row">
<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
                <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Opening Times</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">


<form id="sky-form3" class="sky-form zero-border" novalidate (ngSubmit)="onSubmit(userForm)">

            <ngx-datatable class='table table-striped' [columnMode]="'flex'" [headerHeight]="50" [rowHeight]="'auto'" [rows]='openingTimes' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)'>
              <ngx-datatable-column name="Day" prop="dayId" [flexGrow]="1">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <div>{{dayOfWeek(value-1)}}</div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">

                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)">
                            <span class="form-check-sign">
                                                    <span class="check"></span>
                                                  </span>
                        </label>
                    </div>

                </ng-template>
                <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-rowIndex="rowIndex" let-onCheckboxChangeFn="onCheckboxChangeFn">

                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event); updateIsOpen($event, rowIndex, isSelected)">
                            <span class="form-check-sign">
                                                    <span class="check"></span>
                                                  </span>
                        </label>
                    </div>

                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [sortable]="false" name="OpeningTime" prop="openingTime" [flexGrow]="2" headerClass="text-center">
                <ng-template let-value="value" ngx-datatable-cell-template let-row="row" let-isSelected="isSelected" let-rowIndex="rowIndex">
                  <div class="text-center">
                    <select class="col-4" [value]="getHour(value)" [disabled]="!isSelected" (change)="updateValue($event, 'openingTime', rowIndex, 'hour')">
                      <option *ngFor="let time of timings.hours" [value]="time">{{time}}</option>
                    </select>
                    <select class="col-4" [value]="getMinute(value)" [disabled]="!isSelected" (change)="updateValue($event, 'openingTime', rowIndex, 'minute')">
                      <option *ngFor="let time of timings.minutes" [value]="time">{{time}}</option>
                    </select>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [sortable]="false" name="ClosingTime" prop="closingTime" [flexGrow]="2" headerClass="text-center">
                <ng-template let-value="value" ngx-datatable-cell-template let-row="row" let-isSelected="isSelected" let-rowIndex="rowIndex">
                  <div class="text-center">
                    <select class="col-4" [value]="getHour(value)" [disabled]="!isSelected" (change)="updateValue($event, 'closingTime', rowIndex, 'hour')">
                      <option *ngFor="let time of timings.hours" [value]="time">{{time}}</option>
                    </select>
                    <select class="col-4" [value]="getMinute(value)" [disabled]="!isSelected" (change)="updateValue($event, 'closingTime', rowIndex, 'minute')">
                      <option *ngFor="let time of timings.minutes" [value]="time">{{time}}</option>
                    </select>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="IsOpen" prop="isOpen" [flexGrow]="2">
                <ng-template let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
                  <a *ngIf="value" (click)="updateAllTimings($event, rowIndex)" style="cursor: pointer">Apply time to all</a>
                  <span *ngIf="!value">sit back and relax-all day closed</span>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>

          <footer class="pull-right">
            <button type="submit" class="btn btn-rose">Save</button>
          </footer>

</form>

</div>
        </div>
    </div>
</div>
        </div>