<nav class="top-bar" data-options="mobile_show_parent_link: false;" data-topbar="" role="navigation">
  <div id="header">
    <div class="container">
      <a class="logo-link" href="/" target="_self" id="logo">
        <img class="logo" src="../../assets/images/appointmentor-logo.jpg">
      </a>
      <div class="menu-main-menu-v3-container">
        <ul id="menu-main-menu-v3" class="nav-menu__main-sections">
          <li id="menu-item-27110" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-27110">
            <a href="#">Members</a>
          </li>
          <li id="menu-item-27105" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-27105">
            <a href="#">Businesses</a>
          </li>
          <li id="menu-item-27925" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-27925"><a href="#">Blog</a></li>
          <li id="menu-item-19005" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19005"><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="menu-login-registration-container">
        <ul id="menu-login-registration" class="nav-menu__login-registration">
          <li id="menu-item-17430" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17430"><a [routerLink]="['/login']">Sign In</a></li>
          <li id="menu-item-17435" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-17435"><a [routerLink]="['/registration']">Join Now</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
