<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">User Account</h4>
          </div>
          <div class="card-body">
              <form action="#" method="post"  novalidate (ngSubmit)="onSubmit(userForm)" [formGroup]="userForm">

  <fieldset>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <label class="label required">First Name</label>
        <label class="input">
          
          <input formControlName="firstName" maxlength="50" type="text" class="form-control" placeholder="First Name" required>
        </label>
        <div *ngIf="userForm.invalid && submitted" class="form-error-content">
          <div *ngIf="userForm.controls['firstName'].errors && userForm.controls['firstName'].errors.required">
            First Name is required
          </div>
        </div>
      </div>
      <section class="col-md-6 col-sm-12">
        <label class="label required">Last Name</label>
        <label class="input">
          
          <input formControlName="lastName" maxlength="50" type="text" class="form-control" placeholder="Last Name" required>
        </label>
        <div *ngIf="userForm.invalid && submitted" class="form-error-content">
          <div *ngIf="userForm.controls['lastName'].errors && userForm.controls['lastName'].errors.required">
            Last Name is required
          </div>
        </div>
      </section>
    </div>
    <div class="row">
      <section class="col-md-6 col-sm-12">
        <label class="label required">E-mail</label>
        <label class="input">
          <input formControlName="emailAddress" disabled="disabled" maxlength="100" type="email" class="form-control" placeholder="Email Address"
            required>
        </label>
        <div *ngIf="userForm.invalid && submitted" class="form-error-content">
          <div *ngIf="userForm.controls['emailAddress'].errors && userForm.controls['emailAddress'].errors.required">
            Email is required
          </div>
          <div *ngIf="userForm.controls['emailAddress'].errors && userForm.controls['emailAddress'].errors.email && !userForm.controls['emailAddress'].errors.required">
            Email is invalid
          </div>
        </div>
      </section>

    </div>

    <footer>
      <button type="submit" class="btn-rose pull-right">Save Changes</button>
    </footer>
  </fieldset>
  <div class="message">
    <i class="rounded-x fa fa-check"></i>
    <p>Your message was successfully sent!</p>
  </div>
</form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>