<header>Create Assets</header>
<form novalidate (ngSubmit)="onSubmit(userForm)" [formGroup]="userForm" id="sky-form3" class="sky-form">
  <div class="tab-content">
    <fieldset>
      <div class="row">
        <section class="col col-6">
          <label class="label">Name*</label>
          <label class="input">
            <i class="icon-append fa fa-user"></i>
            <input type="text" formControlName="name">
          </label>
          <div class="form-error-content" *ngIf="submitted">
            <span *ngIf="userForm.get('name').errors?.required">
              Asset name is required
            </span>
            <span *ngIf="userForm.get('name').errors?.pattern">
              Asset name is invalid
            </span>
            <span *ngIf="userForm.get('name').errors?.maxlength">
              Asset name can not more than 50 characters.
            </span>
          </div>
        </section>
        <section class="col col-6">
          <label class="label">Quantity</label>
          <label class="input">
            <i class="icon-append fa fa-at"></i>
            <input type="number" formControlName="quantity" maxlength="5">
          </label>
          <div class="form-error-content" *ngIf="submitted">
            <span *ngIf="userForm.get('quantity').errors?.required">
              Quantity required
            </span>
            <span *ngIf="userForm.get('quantity').errors?.min">
              Quantity can not be less than 0.
            </span>
            <span *ngIf="userForm.get('quantity').errors?.max">
              Quantity can not be more than 1000.
            </span>
          </div>
        </section>
      </div>

      <div class="row">
        <section>
          <label class="label required">Services</label>

          <ngx-datatable [rows]="services" class='table bootstrap' [columnMode]="'flex'" [headerHeight]="30" [footerHeight]="0" [rowHeight]="'auto'"
            [selectionType]="'checkbox'" (select)='onSelect($event)' [selected]="selectedServices">
            <ngx-datatable-column [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [flexGrow]="1">
              <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
                Enable
              </ng-template>
              <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn"
                let-row="row">
                <div>
                  <mat-checkbox [checked]="isSelected" (change)="onCheckboxChangeFn($event)"></mat-checkbox>
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Service Name" prop="serviceName" [flexGrow]="2"></ngx-datatable-column>
            <ngx-datatable-column name="Duration" prop="duration" [flexGrow]="1">
              <ng-template let-value="value" ngx-datatable-cell-template let-row="row">
                <span>{{row['duration']}} {{row['durationType']}}</span>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </section>
      </div>

      <div class="pull-right">
        <button type="button" class="btn btn-default" action="action" onclick="window.history.go(-1); return false;">Cancel</button>
        <button type="submit" class="btn-u">Save</button>
      </div>
    </fieldset>
  </div>
</form>