
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Create Assets</h4>
          </div>
          <div class="card-body">
  <div class="tab-content m-2">
      <form novalidate (ngSubmit)="onSubmit(userForm)" [formGroup]="userForm" class="form-horizontal">
          <div class="row">
              <div class="col-lg-5 col-md-8 col-sm-4">
                  <mat-form-field class="example-full-width">
                      <input matInput type="text" formControlName="name" placeholder="Name">
                  </mat-form-field>
                  <div class="form-error-content" *ngIf="submitted">
            <span *ngIf="userForm.get('name').errors?.required">
              Asset name is required
            </span>
                      <span *ngIf="userForm.get('name').errors?.pattern">
              Asset name is invalid
            </span>
                      <span *ngIf="userForm.get('name').errors?.maxlength">
              Asset name can not more than 50 characters.
            </span>
                  </div>
              </div>
              <div class="col-lg-5 col-md-8 col-sm-4">
                  <mat-form-field class="example-full-width">
                      <input matInput type="number" formControlName="quantity" maxlength="5" placeholder="Quantity">
                  </mat-form-field>
                  <div class="form-error-content" *ngIf="submitted">
            <span *ngIf="userForm.get('quantity').errors?.required">
              Quantity required
            </span>
                      <span *ngIf="userForm.get('quantity').errors?.min">
              Quantity can not be less than 0.
            </span>
                      <span *ngIf="userForm.get('quantity').errors?.max">
              Quantity can not be more than 1000.
            </span>
                  </div>
              </div>
          </div>
          <div class="row">
                  <label class="label required">Services</label>
                    <div class="table-responsive">
                  <ngx-datatable [rows]="services" class='table bootstrap' [columnMode]="'flex'" [headerHeight]="50"
                                 [footerHeight]="0" [rowHeight]="'auto'" [selectionType]="'checkbox'" (select)='onSelect($event)' [selected]="selectedServices">
                      <ngx-datatable-column [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false"
                                            [flexGrow]="1">
                          <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
                                       let-selectFn="selectFn">
                              Enable
                          </ng-template>
                          <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
                                       let-onCheckboxChangeFn="onCheckboxChangeFn" let-row="row">
                              <div>
                                  <mat-checkbox [checked]="isSelected" (change)="onCheckboxChangeFn($event)"></mat-checkbox>
                              </div>
                          </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Service Name" prop="serviceName" [flexGrow]="2"></ngx-datatable-column>
                      <ngx-datatable-column name="Duration" prop="duration" [flexGrow]="1">
                          <ng-template let-value="value" ngx-datatable-cell-template let-row="row">
                              <span>{{row['duration']}} {{row['durationType']}}</span>
                          </ng-template>
                      </ngx-datatable-column>
                  </ngx-datatable>
                    </div>
          </div>
          <div class="pull-right">
              <button type="button" class="btn btn-default" action="action" onclick="window.history.go(-1); return false;">Cancel</button>
              <button type="submit" class="btn btn-rose">Save</button>
          </div>

      </form>
  </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
