<dashboard-component></dashboard-component>
<div class="clearfix margin-bottom-30"></div>
<form class="sky-form">
  <section class="container">
    <div class="row">
      <div class="col-md-3" style="border:1px solid #eee;">
        <header class="zero-padding">
          <div align="center">
            Search Customers
          </div>
        </header>
        <fieldset>
          <div class="row">
            <section>
              <div align="left">
                <p>Use any combination of filters below to quickly search your Customers.</p>
              </div>
            </section>
            <section>
              <label class="input">
                <i class="icon-append fa fa-user"></i>
                <input class="form-control" maxlength="50" type="text" placeholder="First Name" />
                <b class="tooltip tooltip-bottom-right">Needed to enter the name</b>
              </label>
            </section>
            <section>
              <label class="input">
                <i class="icon-append fa fa-user"></i>
                <input class="form-control" maxlength="50" type="text" placeholder="Last Name" />
                <b class="tooltip tooltip-bottom-right">Needed to enter the name</b>
              </label>
            </section>
            <section>
              <label class="input">
                <i class="icon-append fa fa-envelope-o"></i>
                <input class="form-control" maxlength="100" type="email" placeholder="E-mail" />
                <b class="tooltip tooltip-bottom-right">Needed to verify the account</b>
              </label>
            </section>
            <section>
              <label class="input">
                <i class="icon-append fa fa-building"></i>
                <input class="form-control" maxlength="50" type="text" placeholder="City" />
                <b class="tooltip tooltip-bottom-right">Needed to enter the city</b>
              </label>
            </section>
          </div>
        </fieldset>
        <footer class="zero-padding">
          <div align="center">
            <button type="button" class="btn-u btn-u-green">Search Customer</button>
          </div>
        </footer>
        <div class="message">
          <i class="rounded-x fa fa-check"></i>
          <p>Your message was successfully sent!</p>
        </div>
      </div>
      <div class="col-md-9">
        <div class="panel panel-green margin-bottom-40">
          <div class="panel-heading">
            <h3 class="panel-title">
              <i class="fa fa-tasks"></i>Customers
              <!--<span class="pull-right">
                <a class="btn btn-primary" [routerLink]="['/customer', 0]">
                  <i class="fa fa-plus"></i>&nbsp;Create Customer
                </a>
              </span>-->
            </h3>
            <div class="buttons">
              <button type="button" class="btn-u bubble-float-right" [routerLink]="['/customer', 0]" style="margin-top: 9px; margin-right: 27px;"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add Customer</button>
            </div>
          </div>
          <div class="panel-body" *ngIf="customers">
            <div class="col-md-12 row" *ngFor="let item of customers">
              <div class="row zero-padding">
                <div class="col-md-2">
                  <img src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;f=y" width="100">
                </div>
                <div class="col-md-8">
                  <div align="left">
                    <div class="clearfix margin-bottom-20"></div>
                    <h1>&nbsp;{{item.firstName}} {{item.lastName}}</h1>
                    <h4>&nbsp;&nbsp;Email: {{item.emailAddress}}</h4>
                    <h4>&nbsp;Contact No: {{item.contactNumber}}</h4>
                  </div>
                </div>
                <div class="col-md-2" align="right">
                  <!--<button type="button" class="btn-u btn-u-green pull-right button-padding btn-lg" style="width: 130px;"><a [routerLink]="['/customerdetail']" style="color: #fff;">View Info</a></button><br /><br />-->

                  <button type="button" class="btn-u btn-u-green pull-right btn-lg" style="width: 130px;" (click)="LoadCustomerQuickViewById(item.customerId); quickCustomerView.show();">Quick View</button><br /><br />

                  <button type="button" class="btn-u btn-u-green pull-right btn-lg" style="width: 130px;" (click)="LoadCustomerById(item.customerId); customer.show();">Edit Customer</button><br /><br />

                  <button type="button" class="btn-u btn-u-green pull-right btn-lg" (click)="CustomerIdForDelete(item.customerId); modal2.show();" style="width: 130px;">Delete Customer</button><br /><br />
                </div>
              </div>
              <div class="col-md-12 row" align="right">
                <h1>0</h1>
                <h3>Previous Bookings</h3>
              </div>
            </div>
            <app-modal #modal2>
              <div class="app-modal-header">
                <h3 class="panel-title">
                  <i class="fa fa-check"></i>Confirm
                </h3>
              </div>
              <div class="app-modal-body">
                <p>Are you sure you want to delete this customer?</p>
              </div>
              <div class="app-modal-footer">
                <button type="button" class="btn btn-default" (click)="modal2.hide()">Cancel</button>
                <button type="button" class="btn-u btn-default" (click)="RemoveCustomer(); modal2.hide();">Delete</button>
              </div>
            </app-modal>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>


<app-modal #customer id="customer-booking-popup">
  <div class="app-modal-header">
    Add Customer
    <button mat-mini-fab class="popup-close-icon" (click)="customer.hide()"><i class="fa fa-close" aria-hidden="true"></i></button>
  </div>
  <div class="app-modal-body">
    <form method="post" id="sky-form3" class="sky-form" novalidate (ngSubmit)="onSubmit(custForm);" [formGroup]="custForm" style="border: 1px solid transparent;">
      <div class="col-md-12 zero-padding">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <label class="input">
            <i class="icon-append fa fa-user"></i>
            <input formControlName="firstName" maxlength="50" type="text" placeholder="First Name" required="" [(ngModel)]="customer.firstName">
          </label>
          <div *ngIf="custForm.invalid && submitted" class="form-error-content">
            <div *ngIf="custForm.controls['firstName'].errors && custForm.controls['firstName'].errors.required">
              First name is required
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <label class="input">
            <i class="icon-append fa fa-user"></i>
            <input formControlName="lastName" maxlength="50" type="text" placeholder="Last Name" required="" [(ngModel)]="customer.lastName">
          </label>
          <div *ngIf="custForm.invalid && submitted" class="form-error-content">
            <div *ngIf="custForm.controls['lastName'].errors && custForm.controls['lastName'].errors.required">
              Last name is required
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <label class="input">
            <i class="icon-append fa fa-phone"></i>
            <input formControlName="mobileNumber" maxlength="50" type="text" placeholder="Mobile Number" required="" [(ngModel)]="customer.mobileNumber">
          </label>
          <div *ngIf="custForm.invalid && submitted" class="form-error-content">
            <div *ngIf="custForm.controls['mobileNumber'].errors && custForm.controls['mobileNumber'].errors.required">
              Last name is required
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <label class="input">
            <i class="icon-append fa fa-phone"></i>
            <input formControlName="contactNumber" maxlength="50" type="text" placeholder="Contact Number" [(ngModel)]="customer.contactNumber">
          </label>
          <div *ngIf="custForm.invalid && submitted" class="form-error-content">
            <div *ngIf="custForm.controls['contactNumber'].errors && custForm.controls['contactNumber'].errors.required">
              Contact number is required
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <label class="input">
            <i class="icon-append fa fa-envelope"></i>
            <input formControlName="emailAddress" maxlength="100" type="email" placeholder="Email address" required="" [(ngModel)]="customer.emailAddress">
          </label>
          <div *ngIf="custForm.invalid && submitted" class="form-error-content">
            <div *ngIf="custForm.controls['emailAddress'].errors && custForm.controls['emailAddress'].errors.required">
              Email is required
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <label class="input">
            <i class="icon-append fa fa-user"></i>
            <input formControlName="twitterUserName" maxlength="50" type="text" placeholder="Twitter Username" [(ngModel)]="customer.twitterUserName">
          </label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <label class="select">
            <i class="icon-append fa fa-user"></i>
            <select formControlName="gender">
              <option value="1">Male</option>
              <option value="0">Female</option>
            </select>
            <i></i>
          </label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <label class="input">
            <i class="icon-append fa fa-calendar"></i>
            <input formControlName="dateOfBirth" type="text" placeholder="Date Of Birth" class="hasDatepicker" [(ngModel)]="customer.dateOfBirth">
          </label>
          <div *ngIf="custForm.invalid && submitted" class="form-error-content">
            <div *ngIf="custForm.controls['dateOfBirth'].errors && custForm.controls['dateOfBirth'].errors.required">
              Date of Birth is required
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <label class="select">
            <i class="icon-append fa fa-building"></i>
            <input formControlName="unsubscribed" type="checkbox" /> Unsubscribed
            <b class="tooltip tooltip-bottom-right">Unsubscribed</b>
          </label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <label class="input">
            <i class="icon-append fa fa-building"></i>
            <input formControlName="addressLine1" maxlength="50" type="text" placeholder="Address Line 1" [(ngModel)]="customer.addressLine1">
          </label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <label class="input">
            <i class="icon-append fa fa-building"></i>
            <input formControlName="addressLine2" maxlength="50" type="text" placeholder="Address Line 2" [(ngModel)]="customer.addressLine2">
          </label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <label class="input">
            <i class="icon-append fa fa-building"></i>
            <input formControlName="city" maxlength="50" type="text" placeholder="City" [(ngModel)]="customer.city">
          </label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <label class="input">
            <i class="icon-append fa fa-building"></i>
            <input formControlName="postCode" maxlength="50" type="text" placeholder="Post Code" [(ngModel)]="customer.postCode">
          </label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <label class="input">
            <i class="icon-append fa fa-tags"></i>
            <input formControlName="tags" maxlength="50" type="text" placeholder="Tags" [(ngModel)]="customer.tags">
          </label>
        </div>
      </div>
      <div class="col-md-12 zero-padding">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <h4>Add Photo</h4>
          <span class="help-block">Accepted formats: PNG, JPEG upload photo Choose File</span>
          <section>
            <label for="file" class="input input-file">
              <div class="button">
                <input type="file" (change)="fileChange($event)" accept=".png,.jpg,.jpeg" onchange="this.parentNode.nextSibling.value = this.value" />Browse
              </div><input type="text" readonly="">
            </label>
          </section>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 pull-right">
        <button type="button" class="btn-u btn-u-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn-u btn-u-primary">Save changes</button>
      </div>
    </form>
  </div>
</app-modal>

<app-modal #quickCustomerView id="quick_customer">
  <div class="app-modal-header">
    Quick View
    <button mat-mini-fab class="popup-close-icon" (click)="quickCustomerView.hide()"><i class="fa fa-close" aria-hidden="true"></i></button>
  </div>
  <div class="app-modal-body">
    <div class="col-md-12 zero-padding">
      <div class="col-md-12 row">
        <div class="col-md-3">
          <img src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;f=y" width="100">
        </div>
        <div class="col-md-6">
          <h5>{{customerName}}</h5>
          <h5>Email: {{email}}</h5>
          <h5>Contact No: {{contactNumber}}</h5>
        </div>
        <div class="col-md-2">
          <button type="button" class="btn-u btn-u-green" (click)="sendMessage.show()">Send Message</button><br /><br />
          <!--<button type="button" class="btn-u btn-u-green" data-dismiss="modal">Customer Page</button>-->
        </div>
        <div class="col-md-1">
        </div>
      </div>
      <div class="col-md-12 row" align="right">
        <div class="col-md-12">
          <h5>0</h5>
          <h5>Previous Bookings</h5>
        </div>
      </div>
      <div class="clearfix margin-bottom-30"></div>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Contact Number</th>
            <th class="hidden-sm">Gender</th>
            <th>Address Line 1</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>{{contactNumber}}</td>
            <td class="hidden-sm">{{gender}}</td>
            <td>{{addressline1}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</app-modal>

<app-modal #sendMessage id="send_message">
  <div class="app-modal-header">
    Send Message
    <button mat-mini-fab class="popup-close-icon" (click)="sendMessage.hide()"><i class="fa fa-close" aria-hidden="true"></i></button>
  </div>
  <div class="app-modal-body">
    <div class="col-md-12 zero-padding">
      <div class="tab-v1">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#sms1" data-toggle="tab" style="color: #fff;">Email by Subject</a></li>
          <li><a href="#email1" data-toggle="tab">Email</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade in active" id="sms1">
            <div class="row">
              <fieldset>
                <section>
                  <label class="label">Subject</label>
                  <label class="input">
                    <i class="icon-append fa fa-tag"></i>
                    <input #emailbysubject type="text" name="subject" id="subject">
                  </label>
                </section>

                <section>
                  <label class="label">Message</label>
                  <label class="textarea">
                    <i class="icon-append fa fa-comment"></i>
                    <textarea #emailbymessage rows="4" name="message" id="message"></textarea>
                  </label>
                </section>
              </fieldset>

              <footer>
                <button type="button" class="button" (click)="SendByEmailSubject(emailbysubject, emailbymessage)">Send message</button>
                <div *ngIf="isEmptySubject" class="message">
                  <div class="alert alert-info alert-dismissible">
                    <h4><i class="icon fa fa-"></i>Alert!</h4>
                    Please enter message.
                  </div>
                </div>
                <div *ngIf="isSubjectSend" class="message">
                  <i class="rounded-x fa fa-check"></i>
                  <p>Your message was successfully sent!</p>
                </div>
              </footer>
            </div>
          </div>
          <div class="tab-pane fade in" id="email1">
            <fieldset>
              <section>
                <label class="label">Message</label>
                <label class="textarea">
                  <i class="icon-append fa fa-comment"></i>
                  <textarea #message rows="4" name="message" id="message"></textarea>
                </label>
              </section>
            </fieldset>

            <footer>
              <button type="button" class="button" (click)="SendByEmailMessage(message)">Send message</button>
              <div *ngIf="isEmptyMessage" class="message">
                <div class="alert alert-info alert-dismissible">
                  <h4><i class="icon fa fa-"></i>Alert!</h4>
                  Please enter message.
                </div>
              </div>
              <div *ngIf="isMessageSend" class="message">
                <i class="rounded-x fa fa-check"></i>
                <p>Your message was successfully sent!</p>
              </div>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-modal>




