
<!--<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Create Resource</h4>
          </div>
          <div class="card-body">
<form novalidate (ngSubmit)="onSubmit(userForm);" [formGroup]="userForm" id="sky-form" class="sky-form">
  <header style="text-align:left;">Tasks</header>
  <fieldset>
    <section>
      <label class="label">Task</label>
      <label class="input">
        <i class="icon-append fa fa-tasks"></i>
        <input formControlName="taskName" type="text" maxlength="100" placeholder="Add New Task" required />
      </label>
      <div class="form-error-content" *ngIf="submitted">
        <span *ngIf="userForm.get('taskName').errors?.required">
          Task name is required
        </span>
      </div>
    </section>
    <div class="row">
      <section class="col col-6">
        <label class="label">Assign to</label>
        <label class="select">
          <select  formControlName="resourceId">
            <option value="">All Resources</option>
            <option *ngFor="let item of resources" [selected]="item.resourceId == lookupselected" value="{{item.resourceId}}">{{item.firstName}}
              {{item.lastName}}</option>
          </select>
          <i></i>
        </label>
      </section>
      <section class="col col-6">
        <label class="label">Assign to customer</label>
        <label class="select">
          <select  formControlName="customerId">
            <option value="">Select customer</option>
            <option *ngFor="let item of customers" [selected]="item.customerId == lookupselected" value="{{item.customerId}}">{{item.firstName}}
              {{item.lastName}}</option>
          </select>
          <i></i>
        </label>
      </section>
    </div>
    <div class="row">
      <section class="col col-6">
        <label class="label">Due Date</label>
        <label class="input">
          <i class="icon-append fa fa-calendar"></i>
          <input formControlName="dueDate" type="date" placeholder="Due Date" />
        </label>
      </section>
      <section class="col col-6">
        <button type="submit" class="btn-u pull-right">Save</button>
      </section>
    </div>
  </fieldset>
</form>
<div class="clearfix margin-bottom-30"></div>
<div class="col-md-12 " style="display:none;">
  <div class="panel">
    <div class="panel-body">
      No tasks found.
    </div>
  </div>
</div>
<div class="col-md-12" align="center">
  <div class="panel-body">
    <form novalidate id="sky-form3" class="sky-form" style="border:1px solid transparent;">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Task</th>
            <th>Resource</th>
            <th>Customer</th>
            <th>Due Date</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of tasks">
            <td>{{item.taskName}}</td>
            <td>{{item.resourceName}}</td>
            <td>{{item.customerName}}</td>
            <td>{{item.dueDate}}</td>
            <td>Pending</td>
            <td>
              <div class="inline-group">
                <span><label class="checkbox" style="margin-right: 0px;"><input type="checkbox" value="isComplete" />&nbsp;&nbsp;<a
                      style="cursor: pointer;" (click)="TaskIdForDelete(item.taskId); delete_customer.show()"><i></i></a></label><a><i
                      class="fa fa-trash-o zero-padding" style="padding-top: 8px;" data-toggle="modal" data-target="#delete_customer"></i></a></span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

&lt;!&ndash;delete pop-up&ndash;&gt;
<div class="modal fade" id="delete_customer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel4"></h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete ?</p>
        <button type="button" class="btn-u btn-u-green">Confirm</button>
        <button type="button" class="btn-u btn-u-default">Cancel</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-u btn-u-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>-->


<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">assignment</i>
                        </div>
                        <h4 class="card-title">Task</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <form novalidate (ngSubmit)="onSubmit(userForm);" [formGroup]="userForm" >
                                <div class="row m-2">

                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="taskName" type="text" maxlength="100" placeholder="Add New Task" required />
                                    </mat-form-field>
                                    <div class="form-error-content" *ngIf="submitted">
        <span *ngIf="userForm.get('taskName').errors?.required">
          Task name is required
        </span>
                                    </div>
                                    <div>
                                    </div>
                                </div>
                                <div class="row m-1">
                                    <div class="col-md-6">
                                        <mat-form-field>
                                            <mat-select placeholder="Assign to" formControlName="resourceId" >
                                                <mat-option value="1">All Resources</mat-option>
                                                <mat-option *ngFor="let item of resources" <!--[selected]="item.resourceId == lookupselected" value="{{item.resourceId}}-->">{{item.firstName}}
                                                    {{item.lastName}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field>

                                            <mat-select placeholder="Assign to customer" formControlName="customerId" >
                                                <mat-option value="1">Select customer</mat-option>
                                                <mat-option *ngFor="let item of customers" <!--[selected]="item.customerId == lookupselected" value="{{item.customerId}}"-->>{{item.firstName}}
                                                {{item.lastName}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row m-1">
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput formControlName="dueDate" type="date" placeholder="Due Date" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="submit" class="btn btn-rose pull-right">Save</button>
                                    </div>
                                </div>
                            </form>
                            <div class="col-md-12" align="center">
                                <div class="panel-body">
                                    <form novalidate id="" class="" >
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>Task</th>
                                            <th>Resource</th>
                                            <th>Customer</th>
                                            <th>Due Date</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let item of tasks">
                                            <td>{{item.taskName}}</td>
                                            <td>{{item.resourceName}}</td>
                                            <td>{{item.customerName}}</td>
                                            <td>{{item.dueDate}}</td>
                                            <td>Pending</td>
                                            <td>
                                                <div class="inline-group">
                <span><label class="checkbox" style="margin-right: 0px;"><input type="checkbox" value="isComplete" />&nbsp;&nbsp;<a
                        style="cursor: pointer;" (click)="TaskIdForDelete(item.taskId); delete_customer.show()"><i></i></a></label><a><i
                        class="fa fa-trash-o zero-padding" style="padding-top: 8px;" data-toggle="modal" data-target="#delete_customer"></i></a></span>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--delete pop-up-->
<div class="modal fade" id="delete_customer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel4"></h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete ?</p>
                <button type="button" class="btn-u btn-u-green">Confirm</button>
                <button type="button" class="btn-u btn-u-default">Cancel</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-u btn-u-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>