<!--<div class="container-fluid zero-padding">
  <header>
    <div class="row login_bg" align="center">
      <h1 style="color:#FFF;">
        <b>
          <span class="fa fa-clock-o"></span> Appointmentor
        </b>
      </h1>
    </div>
  </header>
  <div class="clearfix margin-bottom-30"></div>
  <section class="col-md-12">
    <div class="col-md-offset-3 col-md-6">
      <form id="sky-form2" class="sky-form" novalidate (ngSubmit)="onSubmit(userForm)" [formGroup]="userForm">
        <header>Login</header>
        <fieldset>
          <section>
            <div class="text-center omb_socialButtons">
              <button type="button" class="btn social-login-btn social-facebook omb_btn-facebook" (click)="socialSignIn('facebook')">Facebook</button>
              <button type="button" class="btn social-login-btn social-google omb_btn-google socialLoginMargin" (click)="socialSignIn('google')">Google</button>
              <button type="button" class="btn social-login-btn social-google omb_btn-linkedin" (click)="socialSignIn('linkedin')">Linkedin</button>
            </div>
          </section>
          <div class="omb_row-sm-offset-3 omb_loginOr">
            <hr class="omb_hrOr">
            <span class="omb_spanOr">or</span>
          </div>
          <section>
            <div class="row">
              <label class="label col col-2">
                E-mail
                <span style="color:red;">*</span>
              </label>
              <div class="col col-10">
                <label class="input">
                  <i class="icon-append fa fa-envelope"></i>
                  <input formControlName="emailAddress" maxlength="100" class="" placeholder="Email Address" type="email" required [ngClass]="{'has-error':userForm.invalid && submitted && userForm.controls['emailAddress'].errors && userForm.controls['emailAddress'].errors.required}"
                  />
                </label>
                <div *ngIf="userForm.invalid && submitted" class="form-error-content">
                  <div *ngIf="userForm.controls['emailAddress'].errors && userForm.controls['emailAddress'].errors.required">
                    Email is required
                  </div>
                  <div *ngIf="userForm.controls['emailAddress'].errors && userForm.controls['emailAddress'].errors.email">
                    Email is invalid
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section>
            <div class="row">
              <label class="label col col-2 nopad">
                Password
                <span style="color:red;">*</span>
              </label>
              <div class="col col-10">
                <label class="input">
                  <i class="icon-append fa fa-lock"></i>
                  <input formControlName="password" maxlength="100" class="" placeholder="Password" type="password" required [ngClass]="{'has-error':userForm.invalid && submitted && userForm.controls['password'].errors && userForm.controls['password'].errors.required}"
                  />
                </label>
                <div *ngIf="userForm.invalid && submitted" class="form-error-content">
                  <div *ngIf="userForm.controls['password'].errors && userForm.controls['password'].errors.required">
                    Password is required
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <label class="label col col-2"></label>
              <div class="col col-10">
                <div class="note">
                  <a [routerLink]="['/forgot']" class="modal-opener">Forgot password?</a>
                </div>
              </div>
            </div>
          </section>
        </fieldset>
        <footer>
          <div class="row">
            <div align="right">
              <button type="submit" class="btn-u">Log in</button>
            </div>
          </div>
        </footer>
        <div *ngIf="isValidLogin" class="form-error-content">
          Incorrect login details entered.
        </div>
      </form>


    </div>
  </section>
</div>-->

<div class="wrapper wrapper-full-page">
  <div class="page-header header-filter" filter-color="green" style="background-image: url('./assets/img/login.jpg'); background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 ml-auto mr-auto pt-5">
          <form novalidate (ngSubmit)="onSubmit(userForm)" [formGroup]="userForm">
            <div class="card card-login card-hidden">
              <div class="card-header card-header-rose text-center">
                <h4 class="card-title">Log in</h4>
                <div class="social-line">
                  <a href="#pablo" class="btn btn-just-icon btn-link btn-white" (click)="socialSignIn('facebook')" >
                    <i class="fa fa-facebook-square"></i>
                  </a>
                  <a href="#pablo" class="btn btn-just-icon btn-link btn-white socialLoginMargin" (click)="socialSignIn('google') " >
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="#pablo" class="btn btn-just-icon btn-link btn-white" (click)="socialSignIn('linkedin') ">
                    <i class="fa fa-google-plus"></i>
                  </a>
                </div>
              </div>
              <div class="card-body ">
                <p class="card-description text-center">Or Be Classical</p>
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">email</i>
                      </span>
                    </div>
                    <input formControlName="emailAddress" maxlength="100" class="" placeholder="Email Address" class="form-control " type="email" required [ngClass]="{'has-error':userForm.invalid && submitted && userForm.controls['emailAddress'].errors && userForm.controls['emailAddress'].errors.required} "
                    />
                      <div *ngIf="userForm.invalid && submitted" class="form-error-content">
                  <div *ngIf="userForm.controls['emailAddress'].errors && userForm.controls['emailAddress'].errors.required">
                    Email is required
                  </div>
                  <div *ngIf="userForm.controls['emailAddress'].errors && userForm.controls['emailAddress'].errors.email">
                    Email is invalid
                  </div>
                </div>
                  </div>
                </span>
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                    </div>
                    <input formControlName="password" maxlength="100" class="form-control" placeholder="Password" type="password" required [ngClass]="{'has-error':userForm.invalid && submitted && userForm.controls['password'].errors && userForm.controls['password'].errors.required}"
                    />
                    <div *ngIf="userForm.invalid && submitted" class="form-error-content">
                  <div *ngIf="userForm.controls['password'].errors && userForm.controls['password'].errors.required">
                    Password is required
                  </div>
                </div>
                  </div>
                </span>
              </div>
              <div class="card-footer justify-content-center">
                <button type="submit" class="btn btn-rose btn-link btn-lg">Lets Go</button>
                <br>
                <div *ngIf="isValidLogin" class="form-error-content">
                  Incorrect login details entered.
                </div>
                <div class="note">
                  <a [routerLink]="['/forgot']" class="modal-opener">Forgot password?</a>
                </div>
                <!--<div class="row">
                  <label class="label col col-2"></label>
                  <div class="col col-10">
                    <div class="note">
                      <a [routerLink]="['/forgot']" class="modal-opener">Forgot password?</a>
                    </div>
                  </div>
                </div>-->
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <footer class="footer ">
    </footer>
  </div>
</div>
